<section class="next">
    <div class="inner">
        <div class="flex-space-between align-start mt100">
            <div class="stats flex1">
                <div class="timer futuristic-container top-only">
                 <p>WHAT’S NEXT?</p>
                 <p class="color-white">Roadmap to the future</p>
                </div>
            </div>
            <div class="buy-info flex3">
                <div class="futuristic-container flex top-only">
                    <div class="buttons-container">
                        <span class="button-wrap">
                            <div class="round-mini-button">
                                <mat-icon fontSet="material-icons" class="color-primary">check</mat-icon>
                            </div>
                            <span>Accomplished</span>
                        </span>
                        <span class="button-wrap">
                            <div class="round-mini-button">
                                <mat-icon fontSet="material-icons" class="color-primary">loop</mat-icon>
                            </div>
                            <span>Ongoing</span>
                        </span>
                        <span class="button-wrap">
                            <div class="round-mini-button">
                                <mat-icon fontSet="material-icons" class="color-primary">flare</mat-icon>
                            </div>
                            <span>Upcoming</span>
                        </span>
                    </div>
                    
                    <div class="flex1 flex justify-end">
                        <div class="round-mini-button">
                            <mat-icon fontSet="material-icons" class="color-primary">arrow_downward</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</section>