<section class="mobile-only mobile-footer-menu" *ngIf="isMenuOpen">
  <div class="inner menu-item">
    <a class="p17 mb25" href="https://moonboxes.io/">MoonBoxes</a>
    <div class="divider mb25"></div>
    <a id="footer-mobile-menu-moonsea-item" class="p17 mb25" (click)="toggleMoonseaBar()">MoonSea</a>
    <div class="divider mb25"></div>
    <a id="footer-mobile-menu-mining-item" class="p17 mb25" (click)="toggleMiningBar()">Mining</a>
    <div class="divider mb25"></div>
    <a id="footer-mobile-menu-tokenomics-item" class="p17" [ngClass]="{'mb25': isConnected && hasVested}"
      (click)="toggleTokenomics()">Tokenomics</a>
    <div *ngIf="hasVested" class="divider mb25"></div>
    <a *ngIf="isConnected && hasVested" id="footer-mobile-menu-vesting-item" class="p17 mb25"
      (click)="toggleReleaseBar()">Vesting</a>

    <div *ngIf="isConnected" class="wallet-address">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Laag_1"
        x="0px" y="0px" viewBox="0 0 19.9 20" style="enable-background:new 0 0 19.9 20;" xml:space="preserve">
        <g>
          <path
            d="M3,0.1c-1.7,0-3,1.4-3,3V17c0,1.7,1.4,3,3,3h13.8c0.7,0,1.3-0.6,1.3-1.3v-3.5h1.7V9.7h-1.7V6.2c0-0.7-0.6-1.3-1.3-1.3h-2.1   V1.3c0-0.7-0.6-1.3-1.3-1.3H3V0.1z M16.8,18.7H3c-1,0-1.8-0.8-1.8-1.8V5.7l0.6,0.3c0.4,0.2,0.8,0.3,1.2,0.3h13.8v3.5h-3.2   c-1.5,0-2.7,1.2-2.7,2.7c0,1.5,1.2,2.7,2.7,2.7h3.2L16.8,18.7L16.8,18.7z M18.6,13.9h-4.9c-0.8,0-1.4-0.6-1.4-1.4   c0-0.8,0.6-1.4,1.4-1.4h4.9C18.6,11,18.6,13.9,18.6,13.9z M13.4,4.9H3c-1,0-1.8-0.8-1.8-1.8S2.1,1.4,3,1.4h10.4   C13.4,1.4,13.4,4.9,13.4,4.9z" />
        </g>
      </svg>
      <span [cdkCopyToClipboard]=address class="short-wallet-address">{{shortenedWalletAddress}}</span>
    </div>
  </div>
</section>

<section class="mobile-footer">
  <ul>
    <ng-container *ngIf="isMenuOpen || isMoonbasebarOpenAtLaunch ; then doNotShowMenuIcon else showMenuIcon">
    </ng-container>
    <ng-template #doNotShowMenuIcon>
      <li>
        <img src="assets/media/icons/close_bottom-menu_mobile.svg" (click)="closeMenu()">
      </li>
    </ng-template>
    <ng-template #showMenuIcon>
      <li (click)="menuopen()">
        <svg width="26px" height="20px" viewBox="0 0 32 25" version="1.1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com -->

          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path d="M0,0 L32,0 L32,3 L0,3 L0,0 Z M0,11 L32,11 L32,14 L0,14 L0,11 Z M0,22 L32,22 L32,25 L0,25 L0,22 Z"
              id="Combined-Shape" fill="#D5A642"></path>
          </g>
        </svg>
      </li>
    </ng-template>
  </ul>
</section>
