<section class="roadmap">
    <div class="inner">
        <div class="flex-space-between align-start mt100">
            <div class="next-event-container flex1">
                <div class="timer futuristic-container top-only">
                 <p>WHAT’S NEXT?</p>
                 <p class="color-white">Roadmap to the future</p>
                </div>
            </div>
            <div class="info-container futuristic-container top-only flex-space-between align-start flex3">
                <div class="flex-col">
                    <ul>
                        <li>
                            <div class="round-mini-button">
                                <mat-icon fontSet="material-icons" class="color-primary">done</mat-icon>
                            </div>
                            <p class="color-primary">Accomplished</p>
                        </li>
                        <li>
                            <div class="round-mini-button">
                                <mat-icon fontSet="material-icons" class="color-primary">sync</mat-icon>
                            </div>
                            <p class="color-primary">Ongoing</p>
                        </li>
                        <li>
                            <div class="round-mini-button">
                                <mat-icon fontSet="material-icons">auto_awesome</mat-icon>
                            </div>
                            <p class="color-primary">Upcoming</p>
                        </li>
                    </ul>
                </div>

                <div class="route-container flex">
                    <div class="round-mini-button mr10">
                        <mat-icon fontSet="material-icons" class="color-primary">west</mat-icon>
                    </div>
                    <div class="round-mini-button">
                        <mat-icon fontSet="material-icons" class="color-primary">east</mat-icon>
                    </div>
                </div>
            </div>
         </div>
         <div #carousel>
            <div class="carousel-cell">
                <img src="assets/media/images/exchanges/pancakeswap.svg" alt="pancakeswap" />
            </div>
            <div class="carousel-cell">
                <img src="assets/media/images/exchanges/pancakeswap.svg" alt="pancakeswap" />
            </div>
            <div class="carousel-cell">
                <img src="assets/media/images/exchanges/pancakeswap.svg" alt="pancakeswap" />
            </div>
            <div class="carousel-cell">
                <img src="assets/media/images/exchanges/pancakeswap.svg" alt="pancakeswap" />
            </div>
            <div class="carousel-cell">
                <img src="assets/media/images/exchanges/pancakeswap.svg" alt="pancakeswap" />
            </div>
            <div class="carousel-cell">
                <img src="assets/media/images/exchanges/pancakeswap.svg" alt="pancakeswap" />
            </div>
        </div>
    </div>
</section>