<section class="navigation" [class.withBG]="atTop == false">
    <div class="inner flex-space-between">
        <div class="logo-container flex align-start" (click)="scrollToElement('', 'landing-page')">
            <p class="flex-center">
                <img class="logo" src="assets/media/images/logo.png" alt="moonshot logo" /> MOON
                <span>SHOT</span>
            </p>
        </div>

        <img src="assets/media/icons/menu-button.svg" alt="menu button" class="mob-menu" [class.open]="open" (click)="open = !open">

        <nav [class.show]="open" class="flex">
            <img src="assets/media/icons/close-2.svg" alt="menu button" class="mob-menu" [class.open]="open" (click)="open = !open">
            <ul>
                <li (mouseleave)="item.onHover=false" *ngFor="let item of navItems" [class.active]="isSamePath(item.path)">
                    <ng-container *ngIf="item.externalPath != undefined; then external else internal"></ng-container>

                    <!-- link = start & end -->
                    <ng-template #external>
                        <a href={{item.externalPath}} target="_blank">{{item.name}}</a>
                    </ng-template>

                    <ng-template #internal>
                        <p *ngIf="item.fragment != undefined" (click)="scrollToElement(item.path, item.fragment )">{{item.name}}</p>

                        <p (mouseenter)="item.onHover=true" *ngIf="item.fragment == undefined" (click)="scrollToElement(item.path, null)">{{item.name}}</p>

                        <ng-container *ngIf="open; then mobile else desktop"></ng-container>
                        <!-- "open" variable for close or open the navbar for small screen . 
                            Also "open" can useable "is it desktop or not". 
                            it used in if statement line 28 because of this.-->
                        <!-- link = start & end -->
                        <ng-template #mobile>
                            <ul *ngIf="(item.frags != undefined)" class="fragments flex-col">
                                <li *ngFor="let fragment of item.frags" (click)="scrollToElement(item.path, fragment.path)">
                                    <p>{{fragment.name}}</p>
                                </li>
                            </ul>
                        </ng-template>

                        <ng-template #desktop>
                            <ul (mouseleave)="item.onHover=false" *ngIf="(item.frags != undefined) && (item.onHover)" class="fragments flex-col">
                                <li *ngFor="let fragment of item.frags" (click)="scrollToElement(item.path, fragment.path )">
                                    <p>{{fragment.name}}</p>
                                </li>
                            </ul>
                        </ng-template>

                    </ng-template>

                </li>
                <li class="mobile-only" (click)="toggleTokenomics()">
                    <p>Tokenomics</p>
                </li>
            </ul>
        </nav>
    </div>
</section>