@import "includes";

section.navigation {
  @include paddingInside(15px);

  box-shadow: 0 4px 12px 0 #00000000;
  box-sizing: border-box;
  position: fixed;
  width: calc(100% - #{$sidebar-width});
  left: 0;
  right: $sidebar-width;
  z-index: 1000;
  display: flex;
  justify-content: center;
  transition: background-color 200ms linear;

  &.withBG {
    background-color: rgba($color: #0c0c0c, $alpha: 0.9);

    .logo {
      height: toRem(20px);
    }

    .logo-container {
      border-top: 1px solid $primary;
    }
  }
}

.logo-container {
  border-top: 6px solid $primary;
  padding-top: toRem(14px);
  transition: all 200ms linear;

  a {
    text-decoration: none;
  }

  .logo {
    height: toRem(80px);
    margin-right: 10px;
    transition: all 200ms linear;
  }

  p {
    font-size: 20px;
    font-weight: $semi-bold;
    font-family: $secondary-font;
    color: white;

    > span {
      color: $primary;
      font-weight: $regular;
    }
  }
}

nav {
  @extend %max-width-center;
  align-items: initial;

  ul {
    width: inherit;
    justify-content: flex-end;
    margin-left: 100px;

    li {
      border-top: 1px solid $primary;
      padding-top: 14px;
      margin: 0 toEm(12.5px);
      width: 25%;

      &:last-child {
        margin-right: 0;
      }

      a,
      p {
        color: $primary;
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;

        &:hover {
          color: $white;
        }
      }
    }
  }

  .mob-menu {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    transition: 0.1s;
    cursor: pointer;

    &.open {
      transform: rotate(180deg);
      cursor: pointer;
      transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);

      > span {
        border-radius: 50%;
        transition-delay: 200ms;
        transition: 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);

        &:nth-child(2) {
          left: 6px;
          top: 6px;
        }

        &:nth-child(4) {
          left: 6px;
          top: 18px;
        }

        &:nth-child(6) {
          right: 6px;
          top: 6px;
        }

        &:nth-child(8) {
          left: 18px;
          bottom: 6px;
        }
      }
    }

    > span {
      width: 5px;
      height: 5px;
      background-color: #fff;
      display: block;
      border-radius: 50%;
      position: absolute;

      &:nth-child(1) {
        left: 0;
        top: 0;
      }

      &:nth-child(2) {
        left: 12px;
        top: 0;
      }

      &:nth-child(3) {
        right: 0;
        top: 0;
      }

      &:nth-child(4) {
        left: 0;
        top: 12px;
      }

      &:nth-child(5) {
        position: absolute;
        left: 12px;
        top: 12px;
      }

      &:nth-child(6) {
        right: 0px;
        top: 12px;
      }

      &:nth-child(7) {
        left: 0px;
        bottom: 0px;
      }

      &:nth-child(8) {
        position: absolute;
        left: 12px;
        bottom: 0px;
      }

      &:nth-child(9) {
        right: 0px;
        bottom: 0px;
      }
    }
  }
}

@media only screen and (max-width: $md) {
  section.navigation {
    width: 100%;
  }
  ul {
    display: none;
  }

  nav > div.mob-menu {
    display: block;
  }
}
