<section class="navigation" [class.withBG]="atTop == false">
    <div class="inner flex-space-between">
        <div class="logo-container flex">
            <a class="flex-center" [routerLink]="['']">
                <img class="logo" src="assets/media/images/logo.png" alt="moonshot logo">
                <p>MOON<span>SHOT</span></p>
            </a>
        </div>

        <div class="mob-menu" [class.open]="open" (click)="open = !open">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav [class.show]="open" class="flex">
            <div class="mob-menu" [class.open]="open" (click)="open = !open">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul>
                <li>
                    <a (click)="scrollToElement()">How to buy</a>
                </li>
                <li *ngFor="let item of navItems">
                    <ng-container *ngIf="item.externalPath != undefined; then external else internal"></ng-container>
                    
                    <!-- link = start & end -->
                    <ng-template #external>
                        <a href={{item.externalPath}}>{{item.name}}</a>
                    </ng-template>
    
                    <ng-template #internal>
                        <a [routerLink]="[item.path]">{{item.name}}</a>
                    </ng-template>
                    
                </li>
            </ul>
        </nav>
    </div>
</section>