<section class="community">
    <div class="inner balloon">
        <p class="p38 w900 white text-center">COMMUNITY</p>
        <div class="deeper flex-col-space-between">
            <p class="white p20 text-center">#MoonSquad</p>
            <p class="white p20 text-center">
                The endless energy and creativity of our community, the desire to help each other to reach project milestones is our biggest strength and motivator. We promote individual and collective efficacy, community empowerement and community (self) organization. While we continue to build our platform, substantial effort will be put in creating transparency towards our community. Having transparency allows us to inspect and adapt to the changing market when needed.</p>
            <p class="white p20 text-center">#Moonshot #MoonSquad $MNSHT $MOONSHOT</p>
        </div>
    </div>
</section>