<section class="mining-bar">
  <div class="close-button">
    <p>MOONDUST MINER</p>
    <img class="close" (click)="toggleMiningView()" src="assets/media/icons/close.svg" alt="close">
  </div>
  <div class="inner balloon">
    <div class="content">

      <div class="mining-container">
        <p class="releasable-amount flex">
          MoonDust Miner is an idle game written in Solidity. In the game, everyone has a MoonBase where MoonRovers
          collect MoonDust to mine for Unobtainium. Players can choose to buy MoonRovers, compound the MoonDust into
          Unobtainium or it can be sold for a reward in BNB. The game is a shameless copy of the work pioneered by Ether
          Shrimp Farm.
        </p>
        <p class="releasable-amount flex">- Base daily returns 4%</p>
        <p class="releasable-amount flex">- Fee 6%</p>
        <p class="releasable-amount flex">- Referral 5%</p>
        <a class="outlined-button" href="https://project-moonshot.me/moondust-miner" target="_blank">MoonDust Miner</a>
      </div>
    </div>
  </div>
</section>
