<section class="mining-bar">
  <div class="close-button">
    <p>MINING</p>
    <img class="close" (click)="toggleMiningView()" src="assets/media/icons/close.svg" alt="close">
  </div>
  <div class="inner balloon">
    <div class="content">

      <div class="mining-container">
        <p class="releasable-amount flex">Buy a MoonRover and start mining
          Unobtainium today!</p>
        <p class="releasable-amount flex">- Base daily returns 4%</p>
        <p class="releasable-amount flex">- Fee 6%</p>
        <p class="releasable-amount flex">- Referral 5%</p>
        <a class="outlined-button" href="https://project-moonshot.me/moondust-miner">My MoonDust Miner</a>
      </div>
    </div>
  </div>
</section>
