<section class="partners">
    <div class="inner flex-space-between futuristic-container">
        <img src="assets/media/images/partners/coinmarketcap.svg" alt="Coinmarketcap" />
        <img src="assets/media/images/partners/bscscan-logo.svg" alt="BscScan" />
        <img src="assets/media/images/partners/blockfolio-logo.svg" alt="Blockfolio" />
        <img src="assets/media/images/partners/coingecko-logo.svg" alt="Coingecko" />
        <img src="assets/media/images/partners/solidity-logo.svg" alt="Solidity" />
    </div>
</section>