@import "includes";

section.partners {
  background: url("/assets/media/images/galaxy03_homepage.png") right center
    no-repeat;
  background-size: 80%;
  @include paddingsInside(70px, 20px);

  > .inner {
    @extend %max-width-center;
    @include paddingsInside(50px, 0px);
  }

  a {
    max-height: 50px;

    > img {
      width: 100%;
      max-height: 50px;
    }
  }
}

@media only screen and (max-width: $md) {
  section.partners > .inner {
    display: flex;
    flex-wrap: wrap;
  }

  a {
    width: 50%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;

    > img {
      max-height: 30px;
    }
  }
}
