<section class="partners">
  <div class="inner flex-space-between futuristic-container">
    <a target="_blank" href="https://coinmarketcap.com/currencies/moonshot/">
      <img src="assets/media/images/partners/coinmarketcap.svg" alt="Coinmarketcap" />
    </a>
    <a target="_blank" href="https://bscscan.com/token/0x5298AD82dD7C83eEaA31DDa9DEB4307664C60534">
      <img src="assets/media/images/partners/bscscan-logo.svg" alt="BscScan" />
    </a>
    <a target="_blank" href="https://blockfolio.com/coin/MOONSHOT">
      <img src="assets/media/images/partners/blockfolio-logo.svg" alt="Blockfolio" />
    </a>
    <a target="_blank" href="https://www.coingecko.com/en/coins/moonshot">
      <img src="assets/media/images/partners/coingecko-logo.svg" alt="Coingecko" />
    </a>
    <a target="_blank" href="https://solidity.finance/audits/MOONSHOT/">
      <img src="assets/media/images/partners/solidity-logo.svg" alt="Solidity" />
    </a>
    <a target="_blank" href="https://delta.app/">
      <img src="assets/media/images/partners/delta-logo.svg" alt="Delta" />
    </a>
  </div>
</section>
