* {
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

html,
body {
  width: $full;
  height: $full;
}

body {
  background-color: $body-bg-color;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  letter-spacing: $letter-spacing-base;
  color: $font-color-base;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}

.logo-small {
  height: 50px;
}

.logo-medium {
  height: 120px;
}

.logo-large {
  height: 220px;
}

.pri-color {
  color: $primary;
}

.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt100 {
  margin-top: 100px;
}
.mt200 {
  margin-top: 200px;
}
.mt300 {
  margin-top: 300px;
}
.mt400 {
  margin-top: 400px;
}
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mr40 {
  margin-right: 40px;
}
.mr50 {
  margin-right: 50px;
}
.mr100 {
  margin-right: 100px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb100 {
  margin-bottom: 100px;
}
.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.ml40 {
  margin-left: 40px;
}
.ml50 {
  margin-left: 50px;
}
.ml100 {
  margin-left: 100px;
}

.pa10 {
  @include paddingInside(10px);
}
.pa20 {
  @include paddingInside(20px);
}
.pa30 {
  @include paddingInside(30px);
}
.pa40 {
  @include paddingInside(40px);
}
.pa50 {
  @include paddingInside(50px);
}
.pa100 {
  @include paddingInside(100px);
}

.ph10 {
  @include paddingsInside(0px, 10px);
}
.ph20 {
  @include paddingsInside(0px, 20px);
}
.ph30 {
  @include paddingsInside(0px, 30px);
}
.ph40 {
  @include paddingsInside(0px, 40px);
}
.ph50 {
  @include paddingsInside(0px, 50px);
}
.ph100 {
  @include paddingsInside(0px, 100px);
}

.pv10 {
  @include paddingsInside(10px, 0px);
}
.pv20 {
  @include paddingsInside(20px, 0px);
}
.pv30 {
  @include paddingsInside(30px, 0px);
}
.pv40 {
  @include paddingsInside(40px, 0px);
}
.pv50 {
  @include paddingsInside(50px, 0px);
}
.pv100 {
  @include paddingsInside(100px, 0px);
}

.pt10 {
  padding-top: 10px;
  box-sizing: border-box;
}
.pt20 {
  padding-top: 20px;
  box-sizing: border-box;
}
.pt30 {
  padding-top: 30px;
  box-sizing: border-box;
}
.pt40 {
  padding-top: 40px;
  box-sizing: border-box;
}
.pt50 {
  padding-top: 50px;
  box-sizing: border-box;
}
.pt100 {
  padding-top: 100px;
  box-sizing: border-box;
}
.pr10 {
  padding-right: 10px;
  box-sizing: border-box;
}
.pr20 {
  padding-right: 20px;
  box-sizing: border-box;
}
.pr30 {
  padding-right: 30px;
  box-sizing: border-box;
}
.pr40 {
  padding-right: 40px;
  box-sizing: border-box;
}
.pr50 {
  padding-right: 50px;
  box-sizing: border-box;
}
.pr100 {
  padding-right: 100px;
  box-sizing: border-box;
}
.pb10 {
  padding-bottom: 10px;
  box-sizing: border-box;
}
.pb20 {
  padding-bottom: 20px;
  box-sizing: border-box;
}
.pb30 {
  padding-bottom: 30px;
  box-sizing: border-box;
}
.pb40 {
  padding-bottom: 40px;
  box-sizing: border-box;
}
.pb50 {
  padding-bottom: 50px;
  box-sizing: border-box;
}
.pb100 {
  padding-bottom: 100px;
  box-sizing: border-box;
}
.pl10 {
  padding-left: 10px;
  box-sizing: border-box;
}
.pl20 {
  padding-left: 20px;
  box-sizing: border-box;
}
.pl30 {
  padding-left: 30px;
  box-sizing: border-box;
}
.pl40 {
  padding-left: 40px;
  box-sizing: border-box;
}
.pl50 {
  padding-left: 50px;
  box-sizing: border-box;
}
.pl100 {
  padding-left: 100px;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.flex-align-start {
  display: flex;
  align-items: flex-start;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-align-end {
  display: flex;
  align-items: center;
}

.flex-col-align-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.flex-col-space-between {
  @extend %flex-space-between;

  flex-direction: column;
}

.flex-center {
  @extend %flex-center;
}

.flex-end {
  @extend %flex-end;
}

.flex-center-col {
  @extend %flex-center-col;
}

.flex-space-between {
  @extend %flex-space-between;
}

.uppercase {
  text-transform: uppercase;
}

.p12 {
  font-size: 12px;
}

.p16 {
  font-size: 16px;
}

.p17 {
  font-size: 17px;
}
.p18 {
  font-size: 18px;
}

.p20 {
  font-size: 20px;
}

.p22 {
  font-size: 22px;
}

.p30 {
  font-size: 30px;
}

.p34 {
  font-size: 34px;
}

.p38 {
  font-size: 38px;
}

.p40 {
  font-size: 40px;
}

.wp25 {
  width: 25%;
}

.wp50 {
  width: 50%;
}

.wp100 {
  width: 100%;
}

.w300 {
  font-weight: 300;
}

.w700 {
  font-weight: 700;
}

.w800 {
  font-weight: 800;
}

.w900 {
  font-weight: 900;
}

.color-white {
  color: white;
}

.color-primary {
  color: $primary;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.futuristic-container {
  @include paddingsInside(20px, 0px);
  border-top: 3px solid $primary;
  border-bottom: 1px solid $primary;

  &.no-padding {
    padding: 0;
  }

  &.bottom-only {
    border-top: 0;
  }

  &.top-only {
    border-bottom: 0;
  }

  &.no-padding-top {
    padding-top: 0;
  }
}

.p-white-span-primary {
  color: white;
  > span {
    color: $primary;
  }
}

.button {
  @include paddingsInside(15px, 20px);

  display: block;
  background-color: $primary;
  height: fit-content;
  min-width: 200px;
  border-radius: 25px;
  color: black;
  font-weight: $semi-bold;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: white;
  }
}

.outlined-button {
  @include paddingsInside(15px, 20px);

  display: block;
  border: 1px solid $primary;
  height: fit-content;
  min-width: 200px;
  border-radius: 25px;
  color: $secondary;
  font-weight: $semi-bold;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    color: white;
  }
}

.round-mini-button {
  box-sizing: border-box;
  display: flex;
  border: 1px solid $primary;
  border-radius: 25px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;

  &:hover {
    color: white;
    border: 1px solid white;
  }
}

.round-large-button {
  box-sizing: border-box;
  display: flex;
  border: 1px solid #d7b13e;
  border-radius: 65px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  height: 130px;
  width: 130px;
  justify-content: center;
  align-items: center;
}
