<section class="moonswap flex-end pb200" *ngIf="isConnected">
  <div class="inner flex-space-between align-start">
   
    <div class="info flex3">
      <div class="flex">
        <div class="flex2 futuristic-container top-only pv30 moonswap-operation-container">
         
          <div class="row">
            <div class="detail-form">
              <div class="wallet-address centered-row mb20">
                <p class="desc-title">Wallet address:</p>

                <div class="address">
                  <div class="truncate-middle" [attr.data-truncate]='connectedAddress.slice(-4)'>
                    <p>{{connectedAddress.slice(0,-4)}}</p>
                  </div>
                </div>
              </div>
              <div class="current-balance centered-row mb20">
                <p class="desc-title">Current balance:</p>

              </div>
              <div class="mshot-v2 centered-row">
                <p class="desc-title-light">MSHOT (v2)</p>
                <p class="value">{{mshotV2BalanceText}}</p>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</section>
