@import "includes";

section.moonswap {
  position: relative;
  padding: 20px;
  padding-top: 100px;
  margin-bottom: 100px;

  .inner {
    @extend %max-width-center;
    align-items: flex-start;
  }
}

.round-large-button {
  padding: 20%;
}

.stats {
  width: 100%;
  //max-width: 75rem;
  max-width: 270px;
  margin-right: 100px;

  .outlined-button {
    margin: 20px 0px;
    max-width: 160px !important;
    justify-content: center;
  }

  div {
    p {
      color: $secondary;
      font-size: 20px;

      &:first-child {
        color: $primary;
        // margin-bottom: 20px;
        font-size: 16px;
      }
    }
  }
}

.stats-btn {
  min-width: 200px;
  padding-left: 30px;

  .futuristic-container>div {
    float: right;
  }
}

.info {
  width: 100%;
  max-width: 770px;
  color: $primary;
  display: flex;

  .line-container {
    .line {
      height: 3px;
      background-color: $primary;
    }

    .empty {
      margin-left: -120px;
    }
  }

  .bottom>div:first-child>p {
    line-height: 30px;
  }
}

.detail-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  border-bottom: 1px solid $primary;
  padding-bottom: 20px;
}

.moonswap-operation-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  p.explanation {
    border-bottom: 1px solid $primary;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .wallet-address {

    .address {
      margin-left: 10px;
      font-weight: 500;
      font-size: 16px;
      color: white;
      border-bottom: 1px $primary solid;
      flex: 1;
      text-align: end;
      margin-top: auto;
    }
  }

  .current-balance {
    .balance {
      margin-left: 10px;
      font-weight: 500;
      font-size: 16px;
      color: white;
      border-bottom: 1px $primary solid;
      flex: 1;
      text-align: end;
    }
  }

  .desc-title {
    font-weight: 600;
    font-size: 16px;
    color: $primary;
  }

  .desc-title-light {
    font-weight: 500;
    font-size: 16px;
    color: $primary;
  }

  .value {
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
    color: $primary;
    border-bottom: 1px $primary solid;
    flex: 1;
    text-align: end;
  }
}


.centered-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.buttons-container {
  max-width: 200px;
}


.white-space {
  flex: 0.6;
}

.deactivate {
  background-color: gray;
  cursor: text;

  :hover {
    background-color: gray;
  }
}

.only-mobile {
  display: none;
  width: 100%;
  justify-content: center;
}

.only-desktop {
  display: flex;
}

.loader-img {
  width: 35px;
}

.loading {
  padding: 5.5px 0 !important;

  &:hover {
    background-color: $primary !important;
  }

  cursor: text !important;
}


@media only screen and (max-width: $md-header) {


  .white-space {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (max-width: $md) {

  .info {
    max-width: 100%;
  }

  .only-mobile {
    display: flex;
  }

  .only-desktop {
    display: none;
  }

  section.moonswap {
    margin-top: 0px;

    >.inner {
      flex-direction: column;

      >.stats {
        margin-right: 0;
        max-width: initial;

        .outlined-button {
          max-width: 100% !important;
        }

        >div:nth-child(2) {
          border-bottom: 0;
        }
      }

      .stats-btn {
        margin-top: 10px;
        margin-bottom: 0;
        width: 100%;

        >.futuristic-container {
          border-top-width: 1px;

          >a {
            float: right;
          }
        }
      }
    }
  }

  .row {
    width: 100%;
    flex-direction: column !important;
    row-gap: 30px;
  }

  .buttons-container {
    max-width: 100%;
    width: 100%;
  }

  .moonswap-operation-container {
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
}

@media only screen and (max-width: $sm) {


  .detail-form {
    margin-bottom: 30px;
    padding-right: 0px;
  }

}
