@import "includes";

section.moonswap {
  position: relative;
  padding: 20px;
  padding-top: 100px;
  margin-bottom: 100px;

  .inner {
    @extend %max-width-center;
    align-items: flex-start;
  }
}

.round-large-button {
  padding: 20%;
}

.stats {
  width: 100%;
  //max-width: 75rem;
  max-width: 270px;
  margin-right: 100px;

  .outlined-button {
    margin: 20px 0px;
    max-width: 160px !important;
    justify-content: center;
  }

  div {
    p {
      color: $secondary;
      font-size: 20px;

      &:first-child {
        color: $primary;
        // margin-bottom: 20px;
        font-size: 16px;
      }
    }
  }
}

.stats-btn {
  min-width: 200px;
  padding-left: 30px;

  .futuristic-container>div {
    float: right;
  }
}

.v2 {
  font-size: 20px;
  color: white;
}

.info {
  width: 100%;
  max-width: 770px;
  color: $primary;
  display: flex;

  .line-container {
    .line {
      height: 3px;
      background-color: $primary;
    }

    .empty {
      margin-left: -120px;
    }
  }

  .bottom>div:first-child>p {
    line-height: 30px;
  }
}

.detail-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  padding-bottom: 30px;
}

.moonswap-operation-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 30px 0px;

  p.explanation {
    border-bottom: 1px solid $primary;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  p.claimed-text {
    border-bottom: 1px solid $primary;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }


  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    row-gap: 20px;
    border-bottom: 1px solid #d5a642;
  }

  .wallet-address {

    .address {
      // display: flex;
      display: inline-block;
      margin-left: 10px;
      font-weight: 500;
      font-size: 16px;
      color: white;
      border-bottom: 1px $primary solid;
      flex: 1;
      text-align: end;
      margin-top: auto;
      max-width: 100%;

    }
  }

  .current-balance {
    .balance {
      margin-left: 10px;
      font-weight: 500;
      font-size: 16px;
      color: white;
      border-bottom: 1px $primary solid;
      flex: 1;
      text-align: end;
    }
  }

  .desc-title {
    font-weight: 600;
    font-size: 16px;
    color: $primary;
    // flex: 1;
    display: ruby;
  }

  .desc-title-light {
    font-weight: 500;
    font-size: 16px;
    color: $primary;
  }

  .value {
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
    color: $primary;
    border-bottom: 1px $primary solid;
    flex: 1;
    text-align: end;
  }
}


.centered-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.buttons-container {
  max-width: 235px;
  row-gap: 20px;
  display: flex;
  flex-direction: column;

  .add-mshot-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    height: 51px;

    img {
      //height: 30px;
      width: 30px;
    }
  }

  .disable {
    background-color: gray !important;
    cursor: not-allowed;
  }

  .claim-button {
    min-width: 235px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    img.check {
      height: 20px;
    }
  }
}


.white-space {
  flex: 0.6;
}

.deactivate {
  background-color: gray;
  cursor: text;

  :hover {
    background-color: gray;
  }
}

.only-mobile {
  display: none;
  width: 100%;
  justify-content: center;
}

.only-desktop {
  display: flex;
}

.loader-img {
  width: 35px;
}

.loading {
  padding: 5.5px 0 !important;

  &:hover {
    background-color: $primary !important;
  }

  cursor: text !important;
}

.truncate-middle {
  position: relative;
  width: 18vw;
  max-width: 340px;
  justify-self: flex-end;
  display: inline-flex;
  padding-right: 40px;
}

.truncate-middle>p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.truncate-middle:after {
  content: attr(data-truncate);
  position: absolute;
  left: calc(100% - 40px);
  top: 0;
  white-space: nowrap;
}

@media only screen and (max-width: $md-header) {


  .white-space {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (max-width: 826px) {
  .truncate-middle {
    width: 100% !important;
    max-width: calc(100% - 50px) !important;
    text-align: end;
    display: block;
  }
}

@media only screen and (max-width: 673px) {
  .truncate-middle {
    width: 100% !important;
    max-width: 200px !important;
    margin-left: auto;
  }
}

@media only screen and (max-width: 458px) {
  .truncate-middle {
    max-width: 100px !important;
    margin-left: auto;
  }
}

@media only screen and (max-width: $md) {

  .info {
    max-width: 100%;
  }

  .only-mobile {
    display: flex;
  }

  .only-desktop {
    display: none;
  }

  .truncate-middle {
    width: 100%;
    max-width: 94%;
    text-align: end;
    display: block;
  }

  section.moonswap {
    margin-top: 0px;

    >.inner {
      flex-direction: column;

      >.stats {
        margin-right: 0;
        max-width: initial;

        .outlined-button {
          max-width: 100% !important;
        }

        >div:nth-child(2) {
          border-bottom: 0;
        }
      }

      .stats-btn {
        margin-top: 10px;
        margin-bottom: 0;
        width: 100%;

        >.futuristic-container {
          border-top-width: 1px;

          >a {
            float: right;
          }
        }
      }
    }
  }

  .row {
    width: 100%;
    flex-direction: column !important;
    row-gap: 30px;
  }

  .buttons-container {
    max-width: 100%;
    width: 100%;
  }

  .moonswap-operation-container {
    flex-direction: column;
    align-items: center;
    flex: 1;

    .row {
      padding-bottom: 30px;
    }
  }
}

@media only screen and (max-width: $sm) {
  .detail-form {
    margin-bottom: 30px;
    padding-right: 0px;
  }
}
