@import "includes";

#particles {
  height: $full;
  width: $full;
  background-color: #030018;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;

  &:before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

section.about {
  z-index: 2;
  position: relative;

  > .inner {
    position: relative;
    width: calc(100% - 64px);
    background: url("/assets/media/images/on-the-moon.png") left bottom 200px
      no-repeat;
  }
}

app-header {
  display: block;
  width: calc(100% - 64px);
}
