@import "includes";

section.about-section {
  z-index: 2;
  position: relative;

  > .inner {
    position: relative;
    width: calc(100% - 64px);
  }
}

app-header {
  display: block;
  width: calc(100% - 64px);
}

.hole-bg > img {
  height: 100%;
  width: 100%;
  transform: translate(-15%, -55%);
}

@media only screen and (max-width: $md) {
  section.about-section > .inner {
    width: 100%;
  }
}
