<section id="about-page" class="about-section flex">
    <div class="inner">
        <app-navigation></app-navigation>
        <app-intro id="intro"></app-intro>
        <app-mission id="mission"></app-mission>
        <app-mechanics id="mechanics"></app-mechanics>
        <div class="hole-bg hidden-bg">
            <img src="assets/media/images/galaxy05_homepage.png" alt="galaxy hole">
        </div>
        <app-security id="security"></app-security>
        <app-roadmap id="roadmap"></app-roadmap>
        <!-- <app-team id="team"></app-team> -->
        <app-disclaimer></app-disclaimer>
        <app-footer></app-footer>
    </div>
    <app-sidebar></app-sidebar>
</section>