@import "includes";

section.about {
  z-index: 2;
  position: relative;

  > .inner {
    position: relative;
    width: calc(100% - 64px);
    background: url("/assets/media/images/on-the-moon.png") left bottom 200px
      no-repeat;
  }
}

app-header {
  display: block;
  width: calc(100% - 64px);
}
