<section class="fuel">
    <div class="inner balloon">
        <p class="p38 w900 white text-center">FUEL THE ROCKET</p>
        <div class="deeper flex-col-space-between">
            <p class="white p20 text-center">To reach the moon, we need to fuel our rocket. To pay for that fuel, we need your help. You can help by donating BNB, so we can fill up the rocket. These funds will be used to accelerate the project and to fund our moon mission. Our fund address is</p>
            <p class="white p20">0x9d8a5d6B405c2Eb7cee724F4B2F67a902F0f0864</p>
            <a href="#" class="round-btn">Connect</a>
        </div>
        <img class="rocket" src="assets/media/images/rocket.svg" alt="rocket" />
    </div>
</section>