@import "includes";

section.fuel {
  @include paddingsInside(50px, 20px);

  background-size: cover;
  .inner {
    @extend %max-width-center;
    @include paddingsInside(60px, 100px);

    border-radius: 160px;
    position: relative;
  }
}

.round-btn {
  min-width: 200px;
  text-align: center;
  margin-top: 20px;
}

.rocket {
  background: url("/assets/media/images/rocket.svg");
  position: absolute;
  right: -240px;
  bottom: -160px;
}
