<section class="fuel">
    <div class="inner fx-center-col">
        <a class="outline-btn">FUEL THE ROCKET</a>
        <p class="w20pu txtc">
            TO REACH THE MOON, we need to fuel our rocket. to pay for that fuel, we need your help. you can help by
            donating bnb, so we can fill up the rocket. these funds will be used to accelerate the project and to fund
            our moon mission. our fund address is: 0x9d8a5d6B405c2Eb7cee724F4B2F67a902F0f0864
        </p>
        <a class="round-btn">CONNECT</a>
    </div>
</section>