<section class="tokenomics">
    <div class="inner fx-space-between">
        <div class="left">
            <img src="assets/media/images/engine.png" alt="Engine">
        </div>
        <div class="right">
            <a class="outline-btn">TOKENOMICS</a>
            <p class="wf">
                6% of each transaction is automatically locked to the liquidity pool. this contributes to lower
                volatility and a continuously increasing price floor.
            </p>
            <ul>
                <li *ngFor="let item of list">
                    <p class="w20pu">{{item.key}}</p>
                    <p class="pru">{{item.val}}</p>
                </li>
            </ul>
        </div>
    </div>
</section>