@import 'includes';

section.tokenomics {
    padding: 0 20px 100px;
    box-sizing: border-box;
    .inner {
        @extend %max-width-center;
    }
}

.left {
    width: 100%;
    max-width: 520px;
}

.pru {
    color: $primary;
    text-transform: uppercase;
}