@import "includes";

section.tokenomics {
  padding: 0 20px 100px;
  box-sizing: border-box;
  .inner {
    @extend %max-width-center;

    border-radius: 160px;
  }
}

.deeper {
  padding: 60px 100px;
  box-sizing: border-box;
  align-items: flex-start;

  .left {
    margin-right: 20px;
  }

  .left,
  .right {
    flex: 1;
    max-width: 520px;
  }
}
