table {
    border: 0; 
    border-collapse: separate; 
    border-spacing: 0 5px;
  }
  
  thead tr th {
    border-bottom: 3px solid #d5a642; 
    border-collapse: separate; 
    border-spacing: 5px 5px;
    padding-bottom: 1rem;
    padding-right: 1rem;
  } 
  
  tbody td:nth-child(4) {
    text-align: center;
  }
  tbody td {
    padding-top: .5rem;
}