<section class="mission">
    <div class="inner">
        <div class="flex-space-between align-start mt100">
            <div class="stats flex1">
                <div class="timer futuristic-container">
                 <p>VISSION & MISSION</p>
                 <p class="color-white orbitron">Why Moonshot exists</p>
                </div>
            </div>
            <div class="buy-info flex3">
                 <div class="futuristic-container flex top-only">
                     <p class="explanation mr100 color-primary">
                        New crypto tokens pop out from everywhere, but we wanted to do something else. New crypto tokens pop out from everywhere, but we wanted to do something else. New crypto tokens pop out from everywhere, but we wanted to do something else. New crypto tokens pop out from everywhere, but we wanted to do something else. New crypto tokens pop out from everywhere, but we wanted to do something else. New crypto tokens pop out from everywhere, but we wanted to do something else. New crypto tokens pop out from everywhere, but we wanted to do something else. New crypto tokens pop out from everywhere, but we wanted to do something else.
                        <br><br>
                        New crypto tokens pop out from everywhere, but we wanted to do something else. New crypto tokens pop out from everywhere, but we wanted to do something else. New crypto tokens pop out from everywhere, but we wanted to do something else.
                     </p>
                 </div>
            </div>
         </div>
    </div>
</section>