<section class="mission">
    <div class="inner">
        <div class="flex-space-between align-start">
            <div class="stats flex1">
                <div class="timer futuristic-container p30d24m">
                    <p>VISSION & MISSION</p>
                    <p class="color-white orbitron">Why did we start Moonshot?</p>
                </div>
            </div>
            <div class="info flex3">
                <div class="futuristic-container flex top-only">
                    <p class="explanation color-primary">
                        We at Moonshot want crypto to be more than just charts and candle chasing, we want to open up a world of entertainment and utility. Moonshot began as a token that rewards holders for sticking with the project; the longer you hold the more Moonshot you
                        receive.
                        <br><br> However, throughout 2021 and beyond, Moonshot will also be launching an NFT loot box programme, The Moonshooter animated NFT series, NFT gamification assets, arcade style games for competitive playing and a lottery.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>