<section class="investment">
    <div class="inner">
        <div class="header">
            <div class="inner">
                <div class="title">MOONBASE</div>
            <div class="sub-title">Play, play & play</div>
            <div class="description">What to do while earning more Moonshot? Our MoonBase is your stop to play arcades games, join the lottery or buy Moonboxes to have a chance at winning rare NFTs.</div>
            </div>
        </div>
        <div class="options">
            <div class="option">
                <img class="icon" src="assets/media/icons/investment/moon-box.svg" alt="Moonbox" />
                <a [routerLink]="" class="outlined-button">MoonBox</a>
            </div>
            <div class="option">
                <img class="icon" src="assets/media/icons/investment/moon-arcade.svg" alt="Moonarcade" />
                <a [routerLink]="" class="outlined-button">MoonArcade</a>
            </div>
            <div class="option">
                <img class="icon" src="assets/media/icons/investment/moon-lottery.svg" alt="Moonlottery" />
                <a [routerLink]="" class="outlined-button">MoonLottery</a>
            </div>
        </div>
    </div>
</section>