<section class="investment">
    <div class="inner">
        <div class="header">
            <div class="inner">
                <div class="title">MOONBASE</div>
            <div class="sub-title orbitron">Play, play & play</div>
            <div class="description">What to do while earning more Moonshot? Our MoonBase is your stop to play arcades games, join the lottery or buy Moonboxes to have a chance at winning rare NFTs.</div>
            </div>
        </div>
        <div class="options">
            <div class="option flex-center-col">
                <div class="box moon-box flex-center mb20">
                    <img class="icon" src="assets/media/icons/investment/moon-box.svg" alt="Moonbox" />
                    <p class="notice p27d18m bold color-primary">Coming soon</p>
                </div>
                <p class="outlined-button inverse fit disabled">MoonBox</p>
            </div>
            <div class="option flex-center-col">
                <div class="box moon-arcade flex-center mb20">
                    <img class="icon" src="assets/media/icons/investment/moon-arcade.svg" alt="Moonarcade" />
                    <p class="notice p27d18m bold color-primary">Coming soon</p>
                </div>
                <p class="outlined-button inverse fit disabled">MoonArcade</p>
            </div>
            <div class="option flex-center-col">
                <div class="box moon-lottery flex-center mb20">
                    <img class="icon" src="assets/media/icons/investment/moon-lottery.svg" alt="Moonlottery" />
                    <p class="notice p27d18m bold color-primary">Coming soon</p>
                </div>
                <p class="outlined-button inverse fit disabled">MoonLottery</p>
            </div>
        </div>
    </div>
</section>