<section id="community-page" class="community flex">
    <div class="inner">
        <app-navigation></app-navigation>
        <app-intro id="intro"></app-intro>
        <app-moontv id="moon-tv"></app-moontv>
        <app-merchandise id="merchandise"></app-merchandise>
        <app-moonticket id="ticket"></app-moonticket>
        <app-gallery id="gallery"></app-gallery>
        <app-footer></app-footer>
    </div>
    <app-sidebar></app-sidebar>
    <app-footer-mobile></app-footer-mobile>
</section>