<section class="intro flex-center">
  <div class="inner flex-space-between align-start">
    <div class="stats flex1">
      <div class="timer futuristic-container">
      </div>
      <div class="price futuristic-container">
      </div>
    </div>
    <div class="info flex3">
      <div class="top futuristic-container top-only">
        <p class="p-white-span-primary p34 orbitron">Join the #MoonSquad<br><span>the Crypto Revolution with Our Community!<br></span></p>
      </div>
      <div class="bottom flex pv20">
        <div class="flex2 futuristic-container bottom-only no-padding mr50">
          <p class="mb20">Are you ready to dive headfirst into the exciting world of crypto? Look no further than our community page, where you can connect with fellow crypto enthusiasts and be a part of the revolution!
            <br><br>
            Our community is where you can stay up-to-date with the latest news, developments, and discussions related to our crypto token. Get insider information on what's happening with our project, and engage with our team members to learn more about the technology behind our token. We're always open to hearing new ideas and perspectives, so feel free to share your thoughts with us.
            <br><br>
            As part of our community, you'll be part of a passionate and dedicated group of individuals who believe in the power of decentralized finance. We're committed to creating an inclusive and welcoming environment where everyone feels comfortable to ask questions, share knowledge, and learn from one another.
            <br><br>
            So, whether you're an experienced trader or just getting started with crypto, our community is the perfect place to connect with like-minded individuals and be a part of the movement. Join us today and let's change the world of finance together!
            <br><br>
          </p>
        </div>
        <div class="flex1 flex justify-end">
          <div class="round-mini-button" (click)="scrollToElement('', 'moon-tv')">
            <mat-icon fontSet="material-icons" class="color-primary">arrow_downward</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
