<section class="intro flex-end">
    <div class="overlay"></div>
    <div class="inner flex-space-between align-start">
        <div class="stats flex1">
            <div class="timer futuristic-container">
                <p>NUMBER OF HOLDERS</p>
                <p>80.000</p>
            </div>
            <div class="price futuristic-container">
                <p>COLLECTIVE MOONSHOT CAPITAL</p>
                <p>388,665,547,965</p>
            </div>
        </div>
        <div class="info flex3">
            <div class="top futuristic-container">
                <p class="p-white-span-primary p34 orbitron">Join the #MoonSquad<br><span>and be part of a Moonshot<br>Community</span></p>
            </div>
            <div class="bottom flex pv20">
                <div class="flex2 futuristic-container bottom-only no-padding mr50">
                    <p class="mb20">The endless energy and creativity of our community, the desire to help each other to reach project milestones is our biggest strength and motivator.</p>
                </div>
                <div class="flex1 flex justify-end">
                    <div class="round-mini-button">
                        <mat-icon fontSet="material-icons" class="color-primary">arrow_downward</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>