@import "includes";

section.intro {
  min-height: 100vh;
  position: relative;
  background: url("/assets/media/images/moon-community.png") top no-repeat;

  .inner {
    @extend %max-width-center;
    margin-bottom: 200px;
  }
}

.stats {
  min-width: 300px;
  margin-right: 150px;

  div {
    &:first-child {
      margin-bottom: 40px;
    }

    p {
      color: $secondary;
      font-size: 25px;
      font-weight: bold;

      &:first-child {
        color: $primary;
        margin-bottom: 50px;
        font-size: 12px;
        font-weight: normal;
      }
    }
  }
}

.info {
  color: $primary;

  .top {
    max-width: 570px;
    width: 100%;
  }

  .bottom {
    border-top: 1px solid $primary;

    div:first-child > p {
      line-height: 30px;
    }
  }
}

@media only screen and (max-width: $md) {
  section.intro > .inner {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
  }
}

@media only screen and (max-width: $sm) {
}
