@import "includes";

section.intro {
  min-height: 100vh;
  position: relative;
  padding-top: 148px;
  box-sizing: border-box;

  .moon-bg {
    position: absolute;
    left: 10%;

    > img {
      width: 100%;
    }
  }

  .inner {
    @extend %max-width-center;
    padding: 0 20px;
  }
}

.info {
  width: 100%;
  max-width: 770px;
  color: #d5a642;

  > .top {
    max-width: 570px;
    width: 100%;
  }

  > .bottom {
    border-top: 1px solid $primary;
  }
}

@media only screen and (max-width: $md) {
  section.intro {
    background-size: 100%;
    padding-top: 120px;
    padding-bottom: 0px;
    min-height: 100vh;

    .moon-bg {
      left: 0;
    }
  }
}

@media only screen and (max-width: $sm) {
}
