<section class="intro flex-center">
    <div class="moon-bg-position hidden-bg">
        <img src="assets/media/images/moon-about.png" alt="moon">
    </div>
    <div class="inner flex justify-end">
        <div class="flex1 desktop-only"></div>
        <div class="info-card flex3">
            <div class="top-width futuristic-container top-only">
                <p class="p-white-span-primary p30 orbitron">An ambitious, exploratory, <br>community driven <br>experiment<span> in the DeFi space</span></p>
            </div>
            <div class="border-top flex pv20">
                <div class="flex1 flex justify-end">
                    <div class="round-mini-button" (click)="scrollToElement('', 'mission')">
                        <mat-icon fontSet="material-icons" class="color-primary">arrow_downward</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>