@import "includes";

section.intro {
  @include paddingsInside(0px, 20px);

  min-height: 100vh;
  position: relative;
  background: url("/assets/media/images/moon-about.png") center center no-repeat;

  .inner {
    @extend %max-width-center;
  }
}

@media only screen and (max-width: $sm) {
}
