<section class="intro flex-end">
    <div class="overlay"></div>
    <div class="inner flex-space-between align-start">
       <div class="stats flex1">
       </div>
       <div class="info flex3">
            <div class="top futuristic-container">
                <p class="p-white-span-primary p34">An ambitious, exploratory, <br>community driven <br>experiment<span> in the DeFi space</span></p>
            </div>
            <div class="bottom flex pv20">
                <div class="flex1 flex justify-end">
                    <div class="round-mini-button">
                        <mat-icon fontSet="material-icons" class="color-primary">arrow_downward</mat-icon>
                    </div>
                </div>
            </div>
       </div>
    </div>
</section>