@import "includes";
section.team-members {
  z-index: 2;
  padding: 0 20px;
  padding-top: 130px;
  //padding-top: 200px;
  .inner {
    @extend %max-width-center;
  }
}

.all-members {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(270px, 0fr));
  padding-top: 130px;
  align-items: center;
  justify-content: center;
  grid-gap: 30px;
}

.member-card {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
  max-width: 270px;
  .rounded-container {
    display: flex;
    width: 200px;
    height: 200px;
    border: solid 1px #d5a642;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    .rounded-image {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      text-align: center;
      padding: 20px;
    }
  }
  .title {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5px;
    height: 71.2px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: center;
    color: #d5a642;
    .job-title {
      font-weight: 400;
    }
  }
  .about {
    padding: 15px 0px 15px 0px;
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    p {
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.69;
      letter-spacing: normal;
      text-align: left;
      color: $primary;
    }
  }
}

.load-more-button {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  a {
    width: 535px;
  }
}

@media only screen and (max-width: $sm) {
  .member-card {
    max-width: 100%;
    padding-bottom: 85px;
  }
  .all-members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
