<section class="landing flex">
    <div class="inner">
        <div class="left-corner"></div>
        <div class="right-corner"></div>
        <app-nav></app-nav>

        <section class="pt-5 h-100 inner flex-space-between align-items-center">
            <div class="inner flex-space-between align-start">
                <div class="empty flex1"></div>
                <div class="info flex4">
                    <div class="line-container flex">
                        <div class="line flex2"></div>
                        <div class="empty flex1"></div>
                    </div>
                    <div class="top futuristic-container bottom-only">
                    </div>
                    <div class="bottom flex pv20">
                        <div class="buttons-container d_flex_content_between flex1">
                            <p class="p27d18m futuristic-container bottom-only pt-0">Odds</p>
                            <p class="p-white-span-primary p27d18m prize_pool pv20">Prize Pool</p>
                            <a href="javascript:void(0)" [routerLink]="['/buy_moonbase']" class="button">Buy a MoonBox</a>
                        </div>
                        <div class="flex2 no-padding mr50 ml20 border-0">
                            <p class="normal_text">­— When users open boxes, the Moonshot tokens flow: 50% to
                                marketing/development
                                budget, 50% to loot box prize pool.
                                <br> — Rare NFTs can be used to redeem Moonshot locked in prize pool:
                                <br> • Tier god NFT: 10% total pool, 1 nft.
                                <br> • Tier 1 NFT: 5% total pool, total 5 nfts.
                                <br> • Tier 2 NFT: 0.5% total pool, total 15 nfts.
                                <br> • Tier 3 NFT: 0.257% total pool, total 29 nfts.
                                <br> — Maturity time: nfts that are opened need to wait to a certain time(10/20/30 days)
                                to
                                redeem moonshot. during that time they can trade their nft in free market (such as
                                opensea).
                            </p>
                        </div>

                    </div>
                </div>
                <div class="empty flex1"></div>
            </div>
        </section>
        
        <div class="inner flex-space-between align-start mt20 box">
            <div class="stats flex1"></div>
            <div class="info flex4">
                <div class="shape text-center bottom flex ph50">

                    <div class="flex1 no-padding">
                        <p class="p-white-span-primary"><span class="p12">REDEEMED MOONSHOT

                            </span></p>
                        <p class="p-white-span-primary"><span><strong>15442
                                </strong></span></p>
                    </div>
                    <div class="flex1 no-padding down_box">
                        <p class="p12 mt-15">
                            <span>BALANCE MOONSHOT</span>
                        </p>
                        <p><strong>240960
                            </strong></p>
                    </div>
                    <div class="flex1 no-padding">
                        <p class="p12 p-white-span-primary"><span>NFT TOTAL
                            </span></p>
                        <p class="p-white-span-primary"><span><strong>22
                                </strong></span></p>
                    </div>
                </div>
            </div>
            <div class="stats flex1"></div>
        </div>
    </div>
    <app-sidebar></app-sidebar>
</section>