<section class="tutorial">
  <div class="inner">
    <div class="header text-center mb50">
      <div class="title color-primary mb20">Info Links</div>
      <div class="sub-title color-white p30d24m orbitron">What is Moonshot?</div>
    </div>

    <div class="address-container flex-center mv70">
      <p class="color-primary mr30 p18 bold">BEP20 Token:</p>
      <ul class="flex">
        <li class="flex" [cdkCopyToClipboard]=address>
          <p class="clipboard break-chars color-primary">0x5298AD82dD7C83eEaA31DDa9DEB4307664C60534</p>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 115.8 128.8" class="copy-icon">
            <path
              d="M89.6 14v13.6h12.2c3.8 0 7.3 1.6 9.9 4.1 2.5 2.5 4.1 6 4.1 9.8v73.3c0 3.8-1.6 7.3-4.1 9.9-2.5 2.5-6 4.1-9.8 4.1H40.1c-3.8 0-7.3-1.6-9.9-4.1-2.5-2.5-4.1-6-4.1-9.8V98.4H14c-3.8 0-7.3-1.6-9.9-4.1-2.5-2.5-4.1-6-4.1-9.8V14c0-3.8 1.6-7.3 4.1-9.9 2.5-2.5 6-4.1 9.8-4.1h61.7c3.8 0 7.3 1.6 9.9 4.1 2.5 2.5 4.1 6 4.1 9.9zM79 27.6V14c0-.9-.4-1.8-1-2.4-.6-.6-1.5-1-2.4-1H14c-.9 0-1.8.4-2.4 1-.6.6-1 1.5-1 2.4v70.5c0 .9.4 1.8 1 2.4.6.6 1.5 1 2.4 1h12.2V41.5c0-3.8 1.6-7.3 4.1-9.9 2.5-2.5 6-4.1 9.8-4.1l38.9.1zm26.2 87.2V41.5c0-.9-.4-1.8-1-2.4-.6-.6-1.5-1-2.4-1H40.1c-.9 0-1.8.4-2.4 1-.6.6-1 1.5-1 2.4v73.3c0 .9.4 1.8 1 2.4.6.6 1.5 1 2.4 1h61.7c.9 0 1.8-.4 2.4-1 .6-.6 1-1.5 1-2.4z"
              fill-rule="evenodd" clip-rule="evenodd" fill="#d5a642" />
          </svg>
        </li>
      </ul>
    </div>

    <div class="quick-buy-container flex-center mv70">
      <p class="color-primary mr30 p18 bold">BEP20 Token:</p>
      <ul class="flex">
        <li><a
            href="https://pancakeswap.finance/swap?inputCurrency=BNB&outputCurrency=0x5298AD82dD7C83eEaA31DDa9DEB4307664C60534"
            target="_blank" class="outlined-button mr30">Pancakeswap</a>
        </li>
        <li>
          <a
          href="https://github.com/moonshot-platform/moonshot-ERC20"
          target="_blank" class="outlined-button mr30">GitHub</a>
        </li>
      </ul>
    </div>


    <div class="quick-buy-container flex-center mv70">
      <p class="color-primary mr30 p18 bold">NFT Mystery Boxes:</p>
      <ul class="flex">
        <li><a
            href="https://moonboxes.io"
            target="_blank" class="outlined-button mr30">MoonBoxes</a>
        </li>
      </ul>
    </div>


    <div class="quick-buy-container flex-center mv70">
      <p class="color-primary mr30 p18 bold">NFT Marketplace:</p>
      <ul class="flex">
        <li><a
            href="https://moonsea.io"
            target="_blank" class="outlined-button mr30">MoonSea</a>
        </li>
      </ul>
    </div>

    <div class="quick-buy-container flex-center mv70">
      <p class="color-primary mr30 p18 bold">NFT Gaming:</p>
      <ul class="flex">
        <li>
          <a
            href="https://moonarcade.games"
            target="_blank" class="outlined-button mr30">Ra8bit Raiders</a>
        </li>
        <li>
          <a
            href="https://moonarcade.games/hoppa"
            target="_blank" class="outlined-button mr30">Hoppa!</a>
        </li>
      </ul>
    </div>

    <div class="quick-buy-container flex-center mv70">
      <p class="color-primary mr30 p18 bold">Telegram:</p>
      <ul class="flex">
        <li>
          <a
            href="https://t.me/RS25Moonshot"
            target="_blank" class="outlined-button mr30">Announcements</a>
        </li>
        <li>
          <a
            href="https://t.me/MSHOTv2"
            target="_blank" class="outlined-button mr30">Discussion Channel!</a>
        </li>
      </ul>
    </div>


    <div class="quick-buy-container flex-center mv70">
      <p class="color-primary mr30 p18 bold">Twitter:</p>
      <ul class="flex">
        <li>
          <a
            href="https://twitter.com/RS25Moonshot"
            target="_blank" class="outlined-button mr30">#MSHOT</a>
        </li>
      </ul>
    </div>


    <div class="buy-at-market-price centered-row">
      <p>Market Buy Now (using pancakeswap)</p>
      <div class="buy-section centered-row">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2500.01 2500">
          <defs>
            <style>
              .cls-1 {
                fill: #f3ba2f;
              }

            </style>
          </defs>
          <title>bi</title>
          <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_1-2" data-name="Layer 1">
              <path class="cls-1"
                d="M764.48,1050.52,1250,565l485.75,485.73,282.5-282.5L1250,0,482,768l282.49,282.5M0,1250,282.51,967.45,565,1249.94,282.49,1532.45Zm764.48,199.51L1250,1935l485.74-485.72,282.65,282.35-.14.15L1250,2500,482,1732l-.4-.4,282.91-282.12M1935,1250.12l282.51-282.51L2500,1250.1,2217.5,1532.61Z" />
              <path class="cls-1"
                d="M1536.52,1249.85h.12L1250,963.19,1038.13,1175h0l-24.34,24.35-50.2,50.21-.4.39.4.41L1250,1536.81l286.66-286.66.14-.16-.26-.14" />
            </g>
          </g>
        </svg>
        <p>BNB:</p>
        <input type="number" name="buy" id="buy" [(ngModel)]="bnbCountFromInput">
        <a [ngClass]="{'loading': isInProcess}" (click)="!isInProcess ? buyMSHOTWithBNB() : null" class="button">
          {{isInProcess ? '' :buttonName}}
          <img *ngIf="isInProcess" src="assets/media/videos/Loading_yellowBG.gif" class="loader-img">
        </a>
      </div>

    </div>

  
  </div>
</section>
