@import "includes";

section.tutorial {
  @include paddingsInside(100px, 20px);

  background: url("/assets/media/images/galaxy02_homepage.png") center top
    no-repeat;
  background-size: 80%;

  > .inner {
    @extend %max-width-center;
  }
}

.how-to-buy-flow {
  display: flex;
  align-items: center;
  flex-direction: column;

  li {
    cursor: cell;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    p {
      color: $primary !important;
    }

    &:hover {
      .indicator > .point {
        .line:first-child {
          height: 3px;
        }

        .dot {
          border-width: 3px;
        }
      }

      p {
        color: white !important;
      }
    }

    &:first-child,
    &:last-child {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 1px solid $primary;
      justify-content: center;
      align-items: center;
      text-align: center;

      > p {
        font-size: 14px;
      }
    }

    .left {
      display: flex;
      flex: 2;
      align-items: center;
      justify-content: flex-start;

      .title {
        font-size: 24px;
      }

      > .step {
        width: 70px;
        min-width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid $primary;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 30px;

        > p {
          font-size: 32px;
        }
      }
    }

    .indicator {
      width: 230px;
      min-height: 180px;
      display: flex;
      align-items: center;
      flex-direction: column;

      > .line {
        width: 2px;
        height: 100%;
        background-color: $primary;
      }

      > .point {
        display: flex;
        align-items: center;

        > .line {
          width: 70px;
          height: 1px;
          background-color: $primary;
        }

        .dot {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid $primary;
        }
      }
    }

    .right {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      > .description {
        line-height: 30px;

        > span {
          line-break: anywhere;
        }
      }
    }
  }
}

@media only screen and (max-width: $md) {
  .buttons-container {
    display: none;
  }

  .how-to-buy-flow {
    li {
      flex-direction: column;
      margin-bottom: 20px;

      &:first-child,
      &:last-child {
        display: none;
      }

      .left,
      .right {
        min-width: auto;
      }

      .left {
        > .title {
          font-size: 22px;
        }

        .step {
          height: 50px;
          width: 50px;
          min-width: 50px;
        }
      }

      .right > .description {
        margin-top: 10px;
      }

      .indicator {
        display: none;
      }
    }
  }
}
