<section class="tutorial">
    <div class="inner">
        <div class="header text-center mb50">
            <div class="title color-primary mb20">7 EASY STEPS</div>
            <div class="sub-title color-white p30 orbitron">How to buy Moonshot!</div>
        </div>
        <div class="quick-buy-container flex-center mv70">
            <p class="color-primary mr30 p18 bold">Quickest way to buy:</p>
            <ul class="flex">
                <li><a href="https://pancakeswap.finance/" class="outlined-button mr30">Pancakeswap</a></li>
            </ul>
        </div>
        <div class="address-container flex-center mv70">
            <p class="color-primary mr30 p18 bold">Token address:</p>
            <ul class="flex">
                <li>
                    <p class="color-primary">0xd27d3f7f329d93d897612e413f207a4dbe8bf799</p>
                </li>
            </ul>
        </div>
        <ul class="how-to-buy-flow">
            <li *ngFor="let step of steps; let i = index" (click)="visibleStep == i ? visibleStep = -1 : visibleStep = i">
                <ng-container *ngIf="i == 0 || i == steps.length - 1; then link else chain"></ng-container>
                
                <!-- link = start & end -->
                <ng-template #link>
                    <p>{{step.indicator}}</p>
                </ng-template>

                <!-- chain -->
                <ng-template #chain id="chain">
                    <div class="left">
                        <div class="step">
                            <p>{{ i }}</p>
                        </div>
                        <div class="title">
                            <p>{{ step.title }}</p>
                        </div>
                    </div>
                    <div class="indicator">
                        <div class="line"></div>
                        <div class="point">
                            <div class="line"></div>
                            <div class="dot"></div>
                            <div class="line"></div>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="right">
                        <p class="description" [class.visible]="visibleStep === i">{{ step.description }}<span>{{ step.span }}</span></p>
                    </div>
                </ng-template>
            </li>
        </ul>
        <div class="buttons-container flex-center mt70">
            <p class="color-primary mr30 p18 bold">Also traded on:</p>
            <ul class="flex">
                <li><a href="https://www.bitmart.com/" class="outlined-button mr30">BitMart</a></li>
                <li><a href="https://p2pb2b.io/" class="outlined-button mr30">P2PB2B</a></li>
                <li><a href="https://www.hotbit.io/" class="outlined-button">HotBit</a></li>
            </ul>
        </div>
    </div>
</section>