<section class="moonsea-bar">
  <div class="close-button">
    <p>MOONSEA</p>
    <img class="close" (click)="toggleMoonSeaView()" src="assets/media/icons/close.svg" alt="close">
  </div>
  <div class="inner balloon">
    <div class="content">

      <div class="moonsea-container">
        <img src="assets/media/images/moonsea-bar-image.webp" alt="moonsea">
        <p class="releasable-amount flex">
          Decentralized NFT Marketplace coming soon!
        </p>

        <a class="outlined-button" href="https://moonsea.io" target="_blank">MoonSea</a>
      </div>
    </div>
  </div>
</section>
