<section class="merchandise flex-end pt200">
    <div class="inner flex-space-between">
       <div class="info">
            <div class="bottom flex">
                <div class="flex-col flex1">
                    <div class="inner-container">
                        <div class="flex group-img justify-center">
                            <img src="assets/media/images/community/rocket.svg" alt="moonticket" />
                        </div>
                        <div>
                            <p class="title">Fuel the rocket</p>
                            <p class="description mv30">
                                To reach the moon, we need to fuel our rocket. To pay for that fuel, we need your help. 
                                You can help by donating BNB to accelerate the project and to fund our mission to the moon.
                                Our funding address is:
                            </p>
                            <p class="address break-chars">0x9d8a5d6B405c2Eb7cee724F4B2F67a902F0f0864</p>
                        </div>
                    </div>
                    <!-- <p class="outlined-button donate">Donate</p> -->
                </div>
                
                <div class="flex-col flex1">
                    <div class="inner-container">
                        <div class="shirts-carousel flex group-img justify-center">
                            <div class="round-mini-button" (click)="prev()">
                                <mat-icon fontSet="material-icons" class="color-primary">arrow_back</mat-icon>
                            </div>
                            <img src={{shirts[current]}} alt="moonticket" />
                            <div class="round-mini-button" (click)="next()">
                                <mat-icon fontSet="material-icons" class="color-primary">arrow_forward</mat-icon>
                            </div>
                        </div>
                        <div>
                            <p class="title pb30">Get your Moonshot apparel</p>
                            <p class="description pt30">
                                At »»TeePublic«« you can buy MOONSHOT branded merchandise like T-Shirts, Hoodies, Tank Tops, Wall Art, Mugs, Pillows, Pins and much more.
                            </p>
                        </div>
                    </div>
                    <a href="https://www.teepublic.com/user/moonshot" target="_blank" class="outlined-button">Order now</a>
                </div>
            </div>
       </div>
    </div>
</section>