<section class="disclaimer">
    <div class="inner">
        <p class="text-center">
            Moonshot is a social experiment issued on the Binance smart chain that is fully community-driven!
            The content shared on this website is for information purpose only and, thus, should not be considered as financial advice.
            Trading/investing is risky and you should never invest more than you can afford to lose. Cryptocurrencies are risky.
            Always seek professional advice before making any investment.
            You alone assume the sole responsibility of evaluating the merits and risks associated with the use of any information or
            other Content on this website before making any decisions based on such information or other content.
        </p>
    </div>
</section>