<section class="merchandise flex-end mt200">
    <div class="overlay"></div>
    <div class="inner flex-space-between">
       <div class="info">
            <div class="bottom flex pv50">
                <div class="flex-col flex1">
                    <div class="inner-container">
                        <div class="flex group-img justify-center">
                            <img src="assets/media/images/community/fuel_illustration.svg" alt="moonticket" />
                        </div>
                        <p class="title mt50 mb30">Fuel the rocket</p>
                        <p class="description mb30">
                            To reach the moon, we need to fuel our rocket. To pay 
                            for that fuel, we need your help. By donating BNB you’ll accelerate the project and fund our mission to the moon. Our fund address is: 
                            0x9d8a5d6B405c2Eb7cee724F4B2F67a902F0f0864
                        </p>
                    </div>
                    <a class="outlined-button">Donate</a>
                </div>
                
                <div class="flex-col flex1">
                    <div class="inner-container">
                        <div class="flex group-img justify-center">
                            <div class="round-mini-button">
                                <mat-icon fontSet="material-icons" class="color-primary">arrow_back</mat-icon>
                            </div>
                            <img src="assets/media/images/community/fuel_illustration.png" alt="moonticket" />
                            <div class="round-mini-button">
                                <mat-icon fontSet="material-icons" class="color-primary">arrow_forward</mat-icon>
                            </div>
                        </div>
                        <p class="title mt50 mb30">Get your Moonshot apparel</p>
                        <p class="description mb30">
                            At »»TeePublic«« you can buy MOONSHOT branded merchandise like T-Shirts, Hoodies, Tank Tops, Wall Art, Mugs, Pillows, Pins and much more.
                        </p>
                    </div>
                    <a href="https://www.teepublic.com/user/moonshot" class="outlined-button">Order now</a>
                </div>
            </div>
       </div>
    </div>
</section>