<section class="intro flex-center">
    <div class="inner flex-space-between align-start">
        <div class="stats flex1">
        </div>
        <div class="info flex3">
            <div class="top futuristic-container">
                <p class="p-white-span-primary p34 orbitron">LP Token lock<br></p>
            </div>
            <div class="bottom flex pv20">
                <div class="flex2 futuristic-container bottom-only no-padding mr50">
                    <p class="mb20">We use the DxSale.Network for <br/>liquidity token locking.</p>
                </div>
                <div class="flex1 flex justify-end">
                    <div class="round-mini-button" (click)="scrollToElement('', 'moon-lp')">
                        <mat-icon fontSet="material-icons" class="color-primary">arrow_downward</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>