<div class="pt-5 h-100 inner flex-space-between align-items-center">

    <div class="stats flex1">
    </div>
    <div class="info flex2">
        <div class="top futuristic-container">
            <p class="p-white-span-primary p34 orbitron">Buy MoonBoxes
                <br><span>and have a chance at <br>
                    winning rare NFTs</span>
            </p>
        </div>
        <div class="bottom flex pv20">
            <div class="flex2 futuristic-container bottom-only no-padding mr50">
                <p class="mb20 p-white-span-primary"><span> There are four kinds of MoonBoxes. Each with their own price
                        and odds. Read more about the odds and the prize pool.</span></p>
            </div>
            <div class="flex1 flex justify-end">
            </div>
            <div class="buttons-container flex1">
                <a class="outlined-button mb10 text-inherit" [routerLink]="['/prize_pool']">Read more</a>
                <a class="button text-inherit" [routerLink]="['/buy_moonbase']">Buy a MoonBox</a>
            </div>
        </div>
    </div>
    <div class="stats flex1">
    </div>
</div>
<!-- <div class="pt-5 h-100 inner flex-space-between align-items-center">
    <div class="flex1 flex justify-end">
    </div>
    <div class="buttons-container flex1">
        <div class="top futuristic-container bottom-only">
            <p class="p-white-span-primary p24d18m">Prize pool</p>
        </div>
        <a class="button text-inherit">Buy a MoonBox</a>
    </div>
    <div class="info flex2">
        <div class="bottom flex pv20">
            <div class="flex2 futuristic-container bottom-only no-padding mr50">
                <p class="mb20 p-white-span-primary"><span> ­— When users open boxes, the Moonshot tokens flow: 50% to
                        marketing/development budget, 50% to loot box prize pool.
                        — Rare NFTs can be used to redeem Moonshot locked in prize pool:
                        • Tier god NFT: 10% total pool, 1 nft.
                        • Tier 1 NFT: 5% total pool, total 5 nfts.
                        • Tier 2 NFT: 0.5% total pool, total 15 nfts.
                        • Tier 3 NFT: 0.257% total pool, total 29 nfts.
                        — Maturity time: nfts that are opened need to wait to a certain time(10/20/30 days) to redeem
                        moonshot. during that time they can trade their nft in free market (such as opensea).</span></p>
            </div>
            <div class="flex1 flex justify-end">
            </div>
        </div>
    </div>
</div> -->