<section class="moonticket">
    <div class="inner">
        <div class="main flex-space-between align-start mt100">
            <div class="stats flex1">
                <div class="timer futuristic-container">
                 <p>MOONTICKET</p>
                 <p class="color-white orbitron">Get your ticket to the moon</p>
                </div>
            </div>
            <div class="buy-info flex3">
                <form class="futuristic-container flex top-only" [formGroup]="downloadFormGroup" (submit)="downloadTicket()">
                    <div class="flex1 no-padding mr20">
                        <p class="mb20">Your name</p>
                    </div>
                    <div class="flex2">
                        <input class="username" id="name" type="text" formControlName="name">
                    </div>
                    <div class="flex1 flex justify-end">
                        <button class="outlined-button mb10" type="submit">Download it</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- <div class="imgDesc">
            <img src="assets/media/images/community/moon-ticket.png" alt="moonticket" />
        </div> -->
        <div class="ticket-section flex-space-between mt100">
            <canvas #ticketCanvas id="ticketCanvas" class="ticket-canvas" width="1200" height="436"></canvas>
            <!-- <div class="ticket-left flex5">
                <img src="assets/media/images/community/moon-ticket-left.png" alt="moonticket" />
            </div>
            <div class="ticket-right flex2">
                <div class="bottom-img">
                    <img src="assets/media/images/community/moon-ticket-right.png" alt="moonticket" />
                </div>
                <div class="bottom-sign">
                    <span>AAAAAAAAAAAAAAAAAAA</span>
                </div>
                <div class="bottom-vip">
                    <div class="txt-bottom">
                        <span>VIP</span><br/>
                    </div>
                </div>
                <div class="flex bottom">
                    <div class="flex1 txt-bottom">
                        <span>PRIVATE LUNAR MISSION</span><br/>
                        <span>1 ADULT</span>
                    </div>
                    <div class="flex1">
                        <img src="assets/media/images/community/snt-small.png" alt="moonticket" />
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>