<section class="moonticket">
    <div class="inner">
        <div class="main flex-space-between align-start mt100">
            <div class="stats flex1">
                <div class="timer futuristic-container">
                 <p>MOONTICKET</p>
                 <p class="color-white orbitron">Get your ticket to the moon</p>
                </div>
            </div>
            <div class="buy-info flex3">
                <div class="futuristic-container flex top-only">
                    <div class="flex1 no-padding mr20">
                        <p class="mb20">Your name</p>
                    </div>
                    <div class="flex2">
                        <input class="username" id="name" type="text" formControlName="name">
                    </div>
                    <div class="flex1 flex justify-end">
                        <a class="outlined-button mb10">Download it</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="imgDesc">
            <img src="assets/media/images/community/moon-ticket.png" alt="moonticket" />
        </div>
    </div>
</section>