<section class="gallery">
    <div class="inner">
        <div class="flex-space-between align-start mt100">
            <div class="stats flex1">
                <div class="timer futuristic-container">
                 <p>MOONGALLERY</p>
                 <p class="color-white">Community creativity</p>
                </div>
            </div>
            <div class="gallery-group futuristic-container top-only flex3">
                <div class="bottom flex pv20">
                    <div class="flex2 futuristic-container bottom-only no-padding mr50">
                        <p class="mb50">The MoonGallery is a space where we showcase community’s creativity. Imagery made by our holders and Moonshot enthusiasts get a spot on our gallery wall below.</p>
                    </div>
                    <div class="btn-group flex justify-end">
                        <div class="round-mini-button">
                            <mat-icon fontSet="material-icons" class="color-primary">arrow_back</mat-icon>
                        </div>
                        <div class="round-mini-button">
                            <mat-icon fontSet="material-icons" class="color-primary">arrow_forward</mat-icon>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <div class="ga2 flex-space-between">
            <img src="assets/media/images/community/snt.png" alt="bitmart" />
            <img src="assets/media/images/community/sns.png" alt="pancakeswap" />
        </div>
        <div class="ga3 flex-space-between">
            <img src="assets/media/images/community/sn1.png" alt="bitmart" />
            <img src="assets/media/images/community/sn2.png" alt="pancakeswap" />
            <img src="assets/media/images/community/sn3.png" alt="p2p-b2b" />
        </div>
    </div>
</section>