<section class="gallery">
    <div class="inner">
        <div class="main flex-space-between align-start mt100">
            <div class="stats flex1">
                <div class="timer futuristic-container">
                 <p>MOONGALLERY</p>
                 <p class="color-white orbitron">Community creativity</p>
                </div>
            </div>
            <div class="gallery-group futuristic-container top-only flex3">
                <div class="bottom flex pv20">
                    <div class="flex2 futuristic-container bottom-only no-padding mr50">
                        <p class="mb50">The MoonGallery is a space where we showcase community’s creativity. Imagery made by our holders and Moonshot enthusiasts get a spot on our gallery wall below.</p>
                    </div>
                    <div class="btn-group flex justify-end">
                        <div class="round-mini-button mr10">
                            <mat-icon fontSet="material-icons" class="color-primary" (click)="prev()">arrow_back</mat-icon>
                        </div>
                        <div class="round-mini-button">
                            <mat-icon fontSet="material-icons" class="color-primary" (click)="next()">arrow_forward</mat-icon>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <div class="ga2 flex-space-between">
            <img src={{items[current]}} alt="bitmart" />
        </div>
    </div>
</section>