<section class="about">
    <div class="inner fx-col">
        <div class="fx-space-between">
            <div class="left">
                <p class="p40 w800">ABOUT PROJECT MOONSHOT</p>
                <p class="p22 w300">
                    Moonshot is a deflationary, selfregenarating automatic liquidity providing protocol that pays out
                    static
                    rewards to holders. as our burn address is in the list of holders, the total supply of moonshot is
                    forever decreasing.
                </p>
            </div>
            <div class="right text-center">
                <p class="p16 w700 uppercase white">auto-locking liquidity</p>
                <p class="p12 w700 uppercase white">
                    6% of each transaction is automatically locked to the liquidity pool. this contributes to lower
                    volatility and a continuously increasing price floor.
                </p>
                <p class="p16 w700 uppercase white">100% rugpull safe</p>
                <p class="p12 w700 uppercase white">
                    LP tokens from the presale are locked for 3 years by the dxsale.network. you can view our lock here.
                    team must buy their tokens. audit by solidity.finance succesfully passed.
                </p>
            </div>
        </div>

        <div class="icons-container fx-space-between">
            <div class="block fx-center">
                <img src="assets/media/icons/team-icon.svg" alt="team icon svg moonshot">
            </div>
            <div class="block fx-center">
                <img src="assets/media/icons/events-icon.svg" alt="events icon svg moonshot">
            </div>
            <div class="block fx-center">
                <img src="assets/media/icons/security-icon.svg" alt="security icon svg moonshot">
            </div>
            <div class="block fx-center">
                <img src="assets/media/icons/collab-icon.svg" alt="collab icon svg moonshot">
            </div>
        </div>

        <div class="text-center">
            <p class="p16 w700 uppercase white">
                4% of each transaction is distributed amongst moonshot holders. this increases the incentive to hold the
                tokens in the wallets. when nobody is selling, the price could moonrocket. wallstreetbets won the fight
                against hedge funds. just by buying and holding, as the key to success. every single moonshot holder has
                an incentive to spread the use of moonshot as much as possible. as more transactions take place in the
                network, the net-worth of every individual increases as well
            </p>
        </div>
    </div>
</section>