<section class="about">
    <div class="inner fx-space-between">
        <div class="left">
            <a class="outline-btn">ABOUT</a>
            <p class="w20pu">
                Moonshot is a deflationary, selfregenarating automatic liquidity providing protocol that pays out static
                rewards to holders. as our burn address is in the list of holders, the total supply of moonshot is
                forever decreasing.
            </p>
            <p class="wf">
                4% of each transaction is distributed amongst moonshot holders. this increases the incentive to hold the
                tokens in the wallets. when nobody is selling, the price could moonrocket. wallstreetbets won the fight
                against hedge funds. just by buying and holding, as the key to success. every single moonshot holder has
                an incentive to spread the use of moonshot as much as possible. as more transactions take place in the
                network, the net-worth of every individual increases as well
            </p>
            <br>
            <p class="w20pu">
                auto-locking liquidity
            </p>
            <p class="wf">
                6% of each transaction is automatically locked to the liquidity pool. this contributes to lower
                volatility and a continuously increasing price floor.
            </p>
            <p class="w20pu">
                100% rugpull safe
            </p>
            <p class="wf">
                LP tokens from the presale are locked for 3 years by the dxsale.network. you can view our lock here.
                team must buy their tokens. audit by solidity.finance succesfully passed.
            </p>
        </div>
        <div class="right">
            <img src="assets/media/images/golden-moon.png" alt="Golden Moon">
        </div>
    </div>
</section>