<section class="about flex-end pb200">
    <div class="overlay"></div>
    <div class="inner flex-space-between align-start">
        <div class="stats flex1">
            <div class="futuristic-container top-only p30d24m">
                <p class="mb30">4 KEY REASONS</p>
                <span class="p-white-span-primary orbitron">Why<br>Moonshot?</span>
            </div>
            <div class="futuristic-container">
                <p class="p30">There are some key reasons to hold and invest in our tokenomics. Do your own research and ask us for any help in socials.</p>
            </div>
        </div>
        <ul class="circles flex3">
            <li *ngFor="let item of imgSrcList">
                <div class="round-large-button" (mouseover)="item.src = item.srcOn" (mouseout)="item.src = item.srcOut">
                    <img [src]="item.src || item.srcOut" alt="{{item.thumb}}" />
                </div>
                <p>{{item.text}}</p>
            </li>
        </ul>
        <div class="stats-btn flex1 mb150">
            <div class="futuristic-container top-only">
                <a href="https://exchange.pancakeswap.finance/#/swap?inputCurrency=0xd27D3F7f329D93d897612E413F207A4dbe8bF799" target="_blank" class="button">Buy Moonshot</a>
            </div>
        </div>
    </div>
</section>