@import "includes";

section.about {
  position: relative;
  background: url("/assets/media/images/galaxy_homeage.png") right bottom
    no-repeat;
  background-size: 80%;

  .inner {
    @extend %max-width-center;
    margin-bottom: 200px;
    align-items: flex-end;
  }
}

.stats {
  min-width: 300px;
  margin-right: 100px;

  div {
    p {
      color: $secondary;
      font-size: 20px;

      &:first-child {
        color: $primary;
        line-height: 25px;
        font-size: 16px;
      }
    }
  }
}

.stats-btn {
  min-width: 30px;
  padding-left: 30px;

  .futuristic-container > div {
    float: right;
  }
}

.circles {
  color: $primary;

  .bottom > div:first-child > p {
    line-height: 30px;
    font-weight: 200;
  }
}

.btn-group {
  width: 100%;

  div {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  div > div {
    margin: 10px;
    align-items: center;
    img {
      width: 120px;
    }
    p {
      color: #d7b13e;
      font-size: 18px;
    }
  }

  .round-xlarge-button {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #d7b13e;
    border-radius: 130px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    width: 260px;
    height: 260px;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
}

@media only screen and (max-width: $md) {
  section.about {
    background: none;
    > .inner {
      flex-direction: column;
      margin-bottom: 0;

      > .stats {
        margin-right: 0;

        > div:nth-child(2) {
          border-bottom: 0;
        }
      }

      > .circles {
        margin-top: 50px;
      }

      .round-xlarge-button {
        width: calc(50% - 25px);
        margin: 0;
        margin-left: 20px;

        &:first-child {
          margin-left: 0;
        }

        &:before {
          content: "";
          display: block;
          padding-top: 100%; /* initial ratio of 1:1*/
        }
      }

      .stats-btn {
        margin-top: 50px;
      }
    }
  }
}

@media only screen and (max-width: $sm) {
}
