@import "includes";

section.about {
  @include paddingsInside(100px, 20px);
  box-sizing: border-box;

  .inner {
    @extend %max-width-center;
  }
}

.inner {
  > div:nth-child(1) {
    .left {
      width: 100%;
      margin-right: 50px;
    }
  }

  > div:nth-child(2) {
    margin: 40px 0;
  }

  > div:nth-child(3) {
    @include paddingInside(20px);

    background: hsla(41, 64%, 55%, 0.9);
    border: 1px solid #ffc821;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 0 100px;
  }
}

.icons-container > .block {
  height: 300px;
  width: 20%;
  max-width: 250px;
  border-radius: 20px;
  background: #1f1e1e;
}
