@import "includes";
section.roadmap {
  background: url("/assets/media/images/galaxy03_homepage.png") center no-repeat;
  background-size: 80%;

  > .outer {
    position: relative;
    .inner {
      @extend %max-width-center;
    }
  }

  .top-inner {
    @include paddingsInside(0px, 20px);
    > .top {
      @extend %max-width-center;
    }
  }
}

.next-event-container {
  width: 100%;
  max-width: 270px;
  margin-right: 20px;

  div > p {
    font-size: 30px;
    color: white;
    &:first-child {
      color: $primary;
      margin-bottom: 20px;
      font-size: 12px;
    }
  }
}

.info-container {
  border-top-width: 1px;
  width: 100%;
  max-width: 770px;

  ul li {
    @extend %flex-justify-start;
    margin-bottom: 10px;
    .round-mini-button {
      @extend %flex-center;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      font-size: 10px;
      background-color: $primary;
      > .mat-icon {
        font-size: 20px;
        height: auto;
        color: black;
      }
    }
    p {
      font-weight: $medium;
    }

    &:last-child {
      margin-bottom: 0;
      .round-mini-button {
        background-color: $body-bg-color;
        > .mat-icon {
          color: $primary;
        }
      }
    }
  }
}

::ng-deep .ng-carousel-slide {
  @include paddingInside(10px);
  color: $primary;
  height: 180px;
  border-left: 1px solid $primary;
  &:hover {
    color: white;
    border-left: 1px solid white;
  }
  p.title {
    font-size: 16px;
    font-family: $primary-font;
    text-align: left;
    font-weight: 700;
    line-height: 27px;

    > span {
      font-size: 16px;
      font-weight: $medium;
    }
  }
  p.description {
    font-size: 20px;
    font-family: $primary-font;
    text-align: left;
    font-weight: 500;
    line-height: 27px;
  }
  .active {
    color: white;
  }
}

.carousel-container {
  position: relative;
  padding: 15px;
  overflow: hidden;
}

.carousel-container-col {
  height: 160px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

::ng-deep carousel-engine.carousel-engine {
  overflow: visible;
}

::ng-deep .ng-carousel-slide {
  position: relative;
}

.timeline-icons {
  width: 30px;
  height: 30px;
  font-size: 10px;
  background-color: $primary;
  position: absolute;
  left: -15px;
  bottom: -15px;

  > .mat-icon {
    font-size: 20px;
    height: auto;
    color: black;
  }

  &.blue-bg {
    background-color: $body-bg-color;

    > .mat-icon {
      color: $primary;
    }
  }
}

.bottom-line {
  z-index: -99;
  height: 1px;
  background-color: #d5a642;
  width: 100%;
  bottom: 14px;
  position: absolute;
}

@media only screen and (max-width: 1294px) {
  .carousel-container {
    padding: 15px 15px 15px 35px;
  }
}

@media only screen and (max-width: $md) {
  section.roadmap {
    margin-top: 100px;
    margin-bottom: 0;
    .next-event-container {
      min-width: auto;
      margin-right: 0;
      max-width: initial;
    }
  }
  .top {
    flex-direction: column;
  }
}

@media only screen and (max-width: $sm) {
}
