@import "includes";


section.faucet {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 20px 60px 0px 0px;
  padding-top: 100px;
  margin-bottom: 100px;
  z-index: 2;

  .inner {
    @extend %max-width-center;
    align-items: flex-start;
    padding-top: 100px;
    padding-right: 20px;
    padding-left: 20px;
    height: 90vh;

    .moon-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
    }

    .moon-bg {
      background: url("/assets/media/images/moon-shadow.webp") top right no-repeat;
      background-size: 59%;
      mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
      -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    }
  }
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.faucet-title {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  max-width: 270px;
  margin-right: 20px;

  img {
    display: flex;
    margin: 0 auto;
    max-height: 180px;
    height: 100%;
  }
}

.faucet-container {
  width: 100%;
  max-width: 770px;
  border-top: 0px !important;
  margin-left: auto;
  padding-top: 0 !important;
  height: fit-content;

  p.container-title {
    padding: 1.25rem 0;
    border-top: 3px solid $primary;
    width: 100%;
    max-width: 570px;
    width: 100%;
    display: flex;
  }

  .get-mshot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.25rem;
    width: 100%;
    align-items: flex-start;
    border-top: 1px solid $primary;
  }
}

.disable {
  background-color: gray !important;
  cursor: not-allowed;
}

.loader-img {
  width: 35px;
  margin: -10px;
}

@media only screen and (max-width: $md) {
  section.faucet {
    padding: 20px;

    .inner {
      padding-top: 150px;
    }
  }

  .explanation {
    text-align: left;
  }

  .container {
    flex-direction: column;

    .faucet-title {
      max-width: 100%;

      img {
        margin-right: auto;
        margin-left: 0;
        max-height: 100px;
      }
    }
  }

  .faucet-container {
    max-width: 100%;
    border-bottom: 0px !important;

    p.container-title {
      max-width: 100%;
      border-top: 0px;
      font-size: 27px;
    }

    .get-mshot {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      .button {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}
