<section class="landing flex">
    <div class="inner">
        <div class="moon-bg"></div>
        <div class="rocket-bg"></div>
        
        <div class="galaxy2-bg"></div>
        <div class="galaxy3-bg"></div>
        <app-navigation></app-navigation>
        <app-intro id="intro"></app-intro>
        <app-news id="news"></app-news>
        <div class="milkyway-bg">
            <app-about id="about"></app-about>
            <app-tutorial id="how-to-buy"></app-tutorial>
        </div>
        <app-partners id="partners"></app-partners>
        <!-- <app-investment></app-investment> -->
        <app-video id="video"></app-video>
        <app-footer></app-footer>
    </div>
    <app-sidebar></app-sidebar>
</section>