@import "includes";

section.landing {
  z-index: 2;
  position: relative;

  > .inner {
    position: relative;
    width: calc(100% - 64px);
  }
}

app-header {
  display: block;
  width: calc(100% - 64px);
}
