<div id="particles"></div>
<section class="landing flex">
    <div class="inner">
        <app-navigation></app-navigation>
        <app-intro></app-intro>
        <app-news></app-news>
        <app-about></app-about>
        <app-exchanges></app-exchanges>
        <app-tutorial id="how-to-buy"></app-tutorial>
        <app-partners></app-partners>
        <app-investment></app-investment>
        <app-video></app-video>
        <app-footer></app-footer>
    </div>
    <app-sidebar></app-sidebar>
</section>