<section id="landing-page" class="landing flex">
  <div class="inner">
    <div class="moon-bg"></div>
    <app-navigation></app-navigation>
    <app-intro id="intro"></app-intro>
    <app-news id="news"></app-news>
    <app-about id="about"></app-about>
    <app-press id="press"></app-press>
    <div class="milkyway-bg hidden-bg">
      <img src="assets/media/images/galaxy_homeage.webp" alt="milkyway">
    </div>
    <app-tutorial id="how-to-buy"></app-tutorial>
    <div class="galaxy2-bg hidden-bg">
      <img src="assets/media/images/galaxy02_homepage.webp" alt="galaxy">
    </div>
    <app-partners id="partners"></app-partners>
    <app-investment></app-investment>
    <div class="galaxy3-bg hidden-bg">
      <img src="assets/media/images/galaxy03_homepage.webp" alt="galaxy">
    </div>
    <app-video id="video"></app-video>
    <app-footer></app-footer>
  </div>
  <app-sidebar></app-sidebar>

  <app-footer-mobile></app-footer-mobile>
</section>
