@import "includes";

p {
  color: black;
}

.my-3 {
  margin: 1rem 0;
}
.deeper {
  @include paddings(60px, 0px);
  align-items: flex-start;

  li p {
    margin-bottom: 1rem;
  }
  .right div {
    padding-left: 20px;
  }
  .left div {
    padding-right: 20px;
  }

  .left,
  .right {
    flex: 1;
    max-width: 520px;
  }
  .right {
    border-left: 2px solid #7e6328;
  }
  .hr_line {
    border-color: #7e6328;
    margin-bottom: 1rem;
  }
}

.invisible-md {
  min-height: 15px;
}
li:last-child .hr_line {
  display: none;
}
