@import "includes";
.modal-box {
    justify-content: center;
    background: #090d16;
    border-top: 6px solid #d5a642;
    border-radius: 4px;
    max-width: max-content;
    padding: 2rem;
    margin: auto;
}