@import "includes";

section.subscription {
  @include paddingsInside(0px, 20px);
  position: relative;
  background-size: 60%;
  z-index: 2;

  .inner {
    @extend %max-width-center;
  }
}

.info {
  color: $primary;
  width: 100%;
  border-top: 1px solid $primary;
  border-bottom: 1px solid $primary;
  text-align: center;

  .bottom {
    .title {
      font-size: larger;
      font-family: "Orbitron";
      font-weight: bold;
    }
    .group-img {
      align-items: center;

      &:nth-child(2) {
        justify-content: space-between;
      }
    }
    img {
      width: 50%;
      margin: 30px;
      max-height: 250px;
    }

    div {
      > a {
        margin: auto;
        width: fit-content;
      }

      > p.description {
        line-height: 30px;
        font-weight: 200;
      }
    }
  }

  .inner-container {
    min-height: 500px;
  }

  .btn-group > .inner {
    @extend %max-width-center;

    > .round-large-button > img {
      width: 80px;
    }
  }
}

@media only screen and (max-width: $md) {
  section.subscription {
    .info > .bottom {
      flex-direction: column;

      > div:first-child {
        margin-bottom: 50px;
      }
    }
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
