@import "includes";

section.subscription {
  position: relative;
  background-size: 60%;
  z-index: 2;

  .inner {
    @extend %max-width-center;
  }
}

.info {
  color: $primary;
  width: 100%;
  border-top: 1px solid $primary;
  border-bottom: 1px solid $primary;
  text-align: center;

  .bottom {
    .group-img {
      align-items: center;
    }
    img {
      height: 250px;
    }

    div {
      > a {
        margin: auto;
        width: fit-content;
      }

      > p.description {
        line-height: 30px;
        font-weight: 200;
      }
    }
  }

  .inner-container {
    min-height: 500px;
  }

  .btn-group > .inner {
    @extend %max-width-center;

    > .round-large-button > img {
      width: 80px;
    }
  }
}

@media only screen and (max-width: $sm) {
  section.subscription {
    background-size: 80%;
    .inner {
      @extend %max-width-center;
      margin-bottom: 250px;
    }
  }
}
