@import "includes";

footer {
  @include paddingsInside(0px, 20px);
  min-height: 500px;
  width: 100%;
  background-color: #0c0c0c;

  > .inner {
    position: relative;
    @extend %max-width-center;
  }

  p,
  a {
    color: $primary;
  }
}

.left p,
.right p {
  font-weight: bold;
}

.social-icon-links ul {
  width: 270px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > li {
    margin-bottom: 30px;
  }
}

.icon {
  > img {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-width: $md) {
  .inner {
    flex-direction: column;
    padding: 50px 0;
  }

  .right {
    align-items: center;
    margin-top: 50px;
  }

  .left {
    display: flex;
    flex-wrap: wrap;

    > div {
      width: 50%;
    }
  }

  .social-icon-links ul {
    width: auto;

    > li {
      width: 26%;
    }
  }

  .icon {
    display: block;
    > img {
      width: 100%;
      height: auto;
      max-width: 85px;
    }
  }
}
