<footer>
  <div class="inner pv100 flex">
    <div class="left flex flex1">
      <div class="main-box">
        <p>Main</p>
        <ul class="mt30">
          <li class="mb20">
            <p class="main-box-col-title" (click)="scrollToElement('', 'how-to-buy')">How to buy</p>
          </li>
          <!-- <li class="mb20"><a class="main-box-col-title" href="/assets/files/moonpaper.pdf"
              target="_blank">MoonPaper</a></li>-->
          <li class="mb20">
            <p id="footer-tokenomics-text" class="main-box-col-title" (click)="toggleTokenomics()">Tokenomics</p>
          </li>
          <li>
            <p class="main-box-col-title" (click)="scrollToElement('/about', 'about-page')">About Moonshot</p>
          </li>
        </ul>
      </div>
      <div class="community-box">
        <p>Community</p>
        <ul class="mt30">
          <li class="mb20">
            <p class="main-box-col-title" (click)="scrollToElement('/community', 'moon-tv')">MoonTV</p>
          </li>
          <li class="mb20">
            <p class="main-box-col-title" (click)="scrollToElement('/community', 'merchandise')">Fuel the rocket</p>
          </li>
          <li class="mb20">
            <p class="main-box-col-title" (click)="scrollToElement('/community', 'merchandise')">Merchandise</p>
          </li>
          <li class="mb20">
            <p class="main-box-col-title" (click)="scrollToElement('/community', 'ticket')">MoonTicket</p>
          </li>
          <li>
            <p class="main-box-col-title" (click)="scrollToElement('/community', 'gallery')">MoonGallery</p>
          </li>
        </ul>
      </div>

    </div>
    <div class="right flex1 flex-col-align-end">
      <div class="social-icon-links">
        <p>Links</p>
        <ul class="mt30">
          <li *ngFor="let item of icons" class="flex-center">
            <a target="_blank" class="icon" href="{{item.link}}">
              <!-- <img src="assets/media/icons/social/{{item.icon}}" alt="{{item.alt}}"> -->
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" [attr.viewBox]=item.viewBox
                xml:space="preserve">
                <path *ngFor="let p of item.paths" attr.opacity={{p[1]}} attr.d={{p[0]}} />
              </svg>
            </a>
          </li>

          <li>
            <a target="_blank" class="icon" href="https://moonbeam.network/networks/moonriver/">
              <svg class="white-on-hover" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 151.2 192.2"
                style="enable-background:new 0 0 151.2 192.2;" xml:space="preserve">
                <style type="text/css">
                  .st0 {
                    fill: #F2B705;
                  }

                  .st1 {
                    fill: #53CBC8;
                  }

                </style>
                <g id="logo-symbol" transform="translate(-442 -265)">
                  <g id="symbol" transform="translate(231.196 -160.618)">
                    <path id="Path_207" class="st0" d="M285,425.6c-39.7,0-71.9,32.2-71.9,71.9c0,0,0,0,0,0c0,4.5,0.4,9.1,1.3,13.5l9.3-6.4
			c16.3-11.2,42.8-11.2,59.1,0l9.7,6.7l5.3,3.6c14.7,10.1,38.5,10.1,53.2,0l4.3-3c8-38.9-17.1-76.9-56-84.9
			C294.7,426.1,289.9,425.7,285,425.6L285,425.6z" />
                    <path id="Path_208" class="st1" d="M325.4,540.7c-10.8,0-21.2-2.9-29-8.3l-15-10.3c-7.2-4.9-16.8-7.7-27.1-7.7s-20,2.7-27.1,7.7
			l-9.7,6.6c-1.9,1.3-4.5,0.9-5.9-1.1c-1.3-1.9-0.9-4.5,1.1-5.9c0,0,0,0,0,0l9.7-6.6c8.6-5.9,19.9-9.1,31.9-9.1s23.3,3.2,31.9,9.1
			l15,10.3c14.9,9.1,33.6,9.1,48.4,0l5.7-3.9c1.9-1.3,4.5-0.9,5.9,1c1.3,1.9,0.9,4.5-1,5.9c0,0-0.1,0-0.1,0.1l-5.7,3.9
			C346.6,537.7,336.2,540.7,325.4,540.7z" />
                    <path id="Path_209" class="st1" d="M254,570.8v-40.6c0-0.9,0-1.7,0.1-2.6c0.3-2.3,2.2-4.1,4.5-4.1c2.3,0.1,4.1,1.8,4.3,4.1
			c0.2,1.4,0.2,2.8,0.1,4.2v81c-0.2,3-2.1,5-4.7,4.9s-4.4-2.1-4.4-5.2v-27L254,570.8z" />
                    <path id="Path_210" class="st1" d="M245.4,550.4v20.2c0,3.5-1.8,5.7-4.5,5.7s-4.6-2.4-4.6-5.7v-40.3c0-3.5,2.1-5.9,4.7-5.8
			s4.3,2.3,4.3,5.8C245.4,536.9,245.4,543.7,245.4,550.4z" />
                    <path id="Path_211" class="st1" d="M271.6,550.4v-14.2c0-3.3,1.7-5.4,4.3-5.4s4.6,2.2,4.6,5.3c0.1,9.7,0.1,19.3,0,29
			c0,3.3-1.9,5.3-4.6,5.2s-4.4-2-4.4-5.4L271.6,550.4L271.6,550.4z" />
                    <path id="Path_212" class="st1" d="M218.8,553.3v-14.2c0-3.3,1.7-5.4,4.3-5.4s4.6,2.2,4.6,5.3c0.1,9.7,0.1,19.3,0,29
			c0,3.3-2,5.3-4.6,5.2s-4.4-2-4.4-5.4L218.8,553.3L218.8,553.3z" />
                    <path id="Path_213" class="st1" d="M293.7,541.3L293.7,541.3c2.5,0,4.5,2,4.5,4.5v7.7c0,2.5-2,4.5-4.5,4.5h0c-2.5,0-4.5-2-4.5-4.5
			v-7.7C289.2,543.2,291.2,541.3,293.7,541.3z" />
                    <path id="Path_214" class="st1" d="M311.3,548L311.3,548c2.5,0,4.5,2,4.5,4.5v43.3c0,2.5-2,4.5-4.5,4.5c0,0,0,0,0,0h0
			c-2.5,0-4.5-2-4.5-4.5c0,0,0,0,0,0v-43.3C306.9,550,308.9,548,311.3,548z" />
                    <path id="Path_215" class="st1" d="M328.9,549.7L328.9,549.7c2.5,0,4.5,2,4.5,4.5v36.8c0,2.5-2,4.5-4.5,4.5h0
			c-2.5,0-4.5-2-4.5-4.4c0,0,0,0,0,0v-36.8C324.4,551.7,326.4,549.7,328.9,549.7C328.9,549.7,328.9,549.7,328.9,549.7z" />
                    <path id="Path_216" class="st1" d="M346.6,545.5L346.6,545.5c2.5,0,4.5,2,4.5,4.5l0,0v15.9c0,2.5-2,4.5-4.5,4.5h0
			c-2.5,0-4.5-2-4.5-4.5c0,0,0,0,0,0v-15.9C342.2,547.5,344.2,545.5,346.6,545.5C346.6,545.5,346.6,545.5,346.6,545.5z" />
                  </g>
                </g>
              </svg>
            </a>
          </li>
          <li>
            <a target="_blank" class="icon" href="https://polygon.technology/">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 80"
                style="enable-background:new 0 0 80 80;" xml:space="preserve">
                <style type="text/css">
                  .st0 {
                    fill: #7B3FE4;
                  }

                </style>
                <path class="st0" d="M40,0C17.9,0,0,17.9,0,40s17.9,40,40,40s40-17.9,40-40S62.1,0,40,0z M66.7,53c0,0.8-0.2,1.5-0.6,2.1
	c-0.4,0.7-0.9,1.2-1.6,1.6l-10.4,6c-0.6,0.4-1.4,0.6-2.1,0.6c-0.8,0-1.5-0.2-2.1-0.6l-10.4-6c-0.6-0.4-1.2-0.9-1.6-1.6
	c-0.4-0.7-0.6-1.4-0.6-2.1v-3.4l5.3-3.1v5.9l9.3,5.4l9.3-5.4V41.5L52,36.1L30.1,48.8c-0.7,0.4-1.4,0.6-2.1,0.6
	c-0.7,0-1.5-0.2-2.1-0.6l-10.4-6c-0.6-0.4-1.2-0.9-1.5-1.6c-0.4-0.7-0.6-1.4-0.6-2.1V27c0-0.8,0.2-1.5,0.6-2.1
	c0.4-0.7,0.9-1.2,1.6-1.6l10.4-6c0.6-0.4,1.4-0.6,2.1-0.6c0.8,0,1.5,0.2,2.1,0.6l10.4,6c0.6,0.4,1.2,0.9,1.6,1.6
	c0.4,0.7,0.6,1.4,0.6,2.1v3.4l-5.4,3.1v-5.9L28,22.2l-9.3,5.4v10.8l9.3,5.4l21.9-12.7c0.7-0.4,1.4-0.6,2.1-0.6
	c0.7,0,1.5,0.2,2.1,0.6l10.4,6c0.6,0.4,1.2,0.9,1.5,1.6c0.4,0.7,0.6,1.4,0.6,2.1V53z" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
