@import "includes";

footer {
  min-height: 500px;
  width: 100%;
  background-color: #0c0c0c;

  > .inner {
    position: relative;
    @extend %max-width-center;
  }

  p,
  a {
    color: $primary;
  }
}

.left p,
.right p {
  font-weight: bold;
}

.social-icon-links ul {
  width: 270px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > li {
    margin-bottom: 30px;
  }
}

.icon {
  > img {
    width: 70px;
    height: 70px;
  }
}
