<section id="sidebar" class="sidebar">
    <div class="block flex-center">
        <img src="assets/media/icons/wallet.svg" alt="wallet">
    </div>
    <ul>
        <li>
            <p (click)="toggleMoonbaseView()">MoonBase</p>
        </li>
        <li>
            <p (click)="toggleTokenomicsView()">Tokenomics</p>
        </li>
    </ul>
    <a class="chart-icon" href="https://dex.guru/token/0xd27d3f7f329d93d897612e413f207a4dbe8bf799-bsc" target="_blank">
        <img src="assets/media/icons/chart.svg" alt="chart" />
    </a>
</section>

<section id="tokenomics-bar" class="tokenomics">
    <app-tokenomics *ngIf="active"></app-tokenomics>
</section>

<section id="moonbase-bar" class="moonbase-bar">
    <app-moonbase-bar *ngIf="moonbaseActive"></app-moonbase-bar>
</section>