<section class="sidebar">
    <!-- <div class="block flex-center">
        <img src="assets/media/icons/wallet.svg" alt="wallet">
    </div> -->
    <ul>
        <li><p (click)="toggleTokenomicsView()">Tokenomics</p></li>
    </ul>
    <a class="chart-icon" href="https://poocoin.app/tokens/0xd27d3f7f329d93d897612e413f207a4dbe8bf799" target="_blank">
        <img src="assets/media/icons/chart.png" alt="chart" />
    </a>
</section>

<section class="tokenomics" *ngIf="active">
    <app-tokenomics></app-tokenomics>
</section>