<section class="howto">
    <div class="inner flex">
        <div class="left flex1">
            <p class="p38 w900">HOW TO BUY MOONSHOT</p>
            <div class="balloon mt100">
                <p class="p18 white text-center">Download a browser based wallet</p>
                <p class="white text-center">Moonshot is an BEP-20 (ERC20 compatible) token running on the Binance Smart Chain Network. You can use Metamask, TrustWallet, Binance Smart Chain Wallet and others.</p>
            </div>
            <div class="balloon mt30">
                <p class="p18 white text-center">Buy BNB</p>
                <p class="white text-center">Use an exchange to buy BNB. Some exchanges are Binance, Binance US</p>
            </div>
            <div class="balloon mt30">
                <p class="p18 white text-center">Go to Moonshot website</p>
                <p class="white text-center">When you visit Moonshot, click on 'Buy on PancakeSwap' button. This will take you to the PancakeSwap website. You will receive a pop up form asking if the address belongs to Moonshot. Double check before you accept!</p>
            </div>
            <div class="balloon dark mt30">
                <p class="p18 text-center pri-color">Token Address:</p>
                <p class="text-center pri-color">0xd27d3f7f329d93d897612e413f207a4dbe8bf799</p>
            </div>
            <div class="balloon mt30">
                <p class="p18 white text-center">When on PancakeSwap</p>
                <p class="white text-center">Click on the gear button and set slippage to 11%. (the slippage covers the 10% explained in tokenomics) If that gives you an error, increase the slippage to 12% or more.</p>
            </div>
            <div class="balloon mt30">
                <p class="p18 white text-center">Swap BNB for Moonshot</p>
                <p class="white text-center">Confirm with your browser based wallet</p>
            </div>
            <div class="balloon mt30">
                <p class="p18 white text-center">View your Moonshot in your browser based wallet</p>
                <p class="white text-center">To view your Moonshot, add custom token to your browser based wallet. Use the address above.</p>
            </div>
        </div>
        <div class="right flex1 col flex-align-center justify-center">
            <img src="assets/media/images/pancakeswap-logo.svg" alt="PancakeSwap">
            <a href="#" class="round-btn mt30">BUY ON PANCAKESWAP</a>
            <p class="mt30 w700 p18">SET SLIPPAGE TO 11%</p>
            <a href="#" class="round-btn mt30">BUY ON P2PB2B EXCHANGE</a>
            <a href="#" class="round-btn mt30">BUY ON BITMART EXCHANGE</a>
            <img class="mt100" src="assets/media/images/play-button.svg" alt="play button">
            <p class="white w700 p18 mt30">OR WATCH A HOW TO BUY MOONSHOT VIDEO</p>
        </div>
    </div>
</section>