<section class="video flex-end">
    <div class="overlay"></div>
    <div class="inner flex-space-between align-start">
        <div class="stats flex1">
            <div class="futuristic-container top-only">
                <p class="mb20">COMMUNITY</p>
                <span class="p-white-span-primary p30 orbitron">Join the <br>#Moonsquad</span>
            </div>
            <div class="futuristic-container">
                <p class="p30">The endless energy and creativity of our community, the desire to help each other to reach project milestones is our biggest strength and motivator.<br><br>
                    Would you like to help move things forward, join the Moonsquad collective!</p>
            </div>
        </div>
        <div class="video-player flex3">
            <div class="video">
                <a class="playbtn outlined-button mb10">PLAY</a>
                <video (click)="toggleVideo" width="100%" height="auto" controls #videoPlayer>
                    <source src="{{videoSource}}" type="video/mp4" />
                    Browser not supported
                </video>
            </div>
        </div>
        <div class="stats-btn flex1">
            <div class="futuristic-container top-only">
                <div class="buttons-container flex1">
                    <a href="https://www.youtube.com/hashtag/moonshot" class="outlined-button mb10">Go to MoonTV</a>
                </div>
            </div>
        </div>
    </div>
</section>