@import "includes";

section.video {
  position: relative;
  .inner {
    @extend %max-width-center;
    margin-bottom: 200px;
    align-items: flex-end;
  }
}

.stats {
  min-width: 300px;
  z-index: 90;
  div {
    p {
      color: $secondary;
      font-size: 20px;
      line-height: 30px;

      &:first-child {
        color: $primary;
        font-size: 16px;
      }
    }
  }
}

.stats-btn {
  min-width: 60px;
  z-index: 90;
  div {
    padding-bottom: 200px;
  }

  .futuristic-container > div {
    float: right;
  }
}

video::-webkit-media-controls-panel {
  display: none !important;
  opacity: 1 !important;
}

.video-player {
  .video {
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: 80px;
    position: relative;
    min-height: 570px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    .playbtn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 99;
    }
  }
}

@media only screen and (max-width: $md) {
  section.video > .inner {
    flex-direction: column;
    margin-bottom: 0;
  }

  .video-player {
    .video {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .stats-btn {
    div {
      padding-bottom: 0;
    }
  }
}

@media only screen and (max-width: $sm) {
}
