@import "includes";


section.vulture {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 20px 60px 0px 0px;
  padding-top: 100px;
  margin-bottom: 100px;
  z-index: 2;

  .inner {
    @extend %max-width-center;
    align-items: flex-start;
    padding-top: 100px;
    padding-right: 20px;
    padding-left: 20px;

    .moon-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
    }

    .banner-bg {
      position: fixed;
      width: 100%;
      height: 20%;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }

    .moon-bg {
      background: url("/assets/media/images/moon-shadow.webp") top right no-repeat;
      background-size: 59%;
      mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
      -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    }

    // .banner-bg {
    //   background: url("/assets/media/images/vulture/Banner-breed-1.webp") bottom repeat-x;
    //   background-size: contain;
    // }
  }
}

.vulture-container {
  width: 100%;
  max-width: 700px;
  margin: auto;
  position: relative;
  z-index: 2;

  .title {
    font-weight: 700;
    font-size: 24px;
    font-family: $primary-font;
    color: white;
    text-align: center;
  }

  .explanation {
    margin-top: 20px;
  }
}

.vulture-title {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  max-width: 270px;
  margin-right: 20px;
  height: fit-content;

  img {
    display: flex;
    margin: 0 auto;
    max-height: 180px;
    height: 100%;
    margin-bottom: -20px;
  }

  .donation {
    border-top: 1px solid $primary;
    padding-top: 1.25rem;
  }
}

.vulture-container {
  width: 100%;
  max-width: 770px;
  border-bottom: 0px !important;
  border-top: 0px !important;
  margin-left: auto;
  padding-top: 0 !important;
  height: fit-content;

  p.container-title {
    padding: 1.25rem 0;
    border-top: 3px solid $primary;
    width: 100%;
    max-width: 570px;
    width: 100%;
    display: flex;
  }

  .get-mshot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.25rem;
    width: 100%;
    align-items: flex-start;
    border-top: 1px solid $primary;
  }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.details-box {
  display: flex;
  width: 100%;
  max-width: 570px;
  column-gap: 20px;
  // margin-bottom: 40px;
  // padding-top: 50px;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;

  p {
    text-overflow: ellipsis;
    // white-space: nowrap;
    overflow: hidden;
    width: 100%;
    display: block;
    text-align: left;
    margin-right: auto;

    span {
      color: white;
    }
  }
}

.pt60 {
  padding-top: 60px;
}

.disable {
  background-color: gray !important;
  cursor: not-allowed;
}

.loader-img {
  width: 35px;
  margin: -10px;
}

.bottom-banner {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  max-height: 270px;
  height: auto;
}

.vulture-detail {
  font-size: 14px;

  a {
    cursor: pointer;
    color: white;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
  margin-right: auto;
}

@media only screen and (max-width: $md) {
  section.vulture {
    padding: 20px;

    .inner {
      padding-top: 150px;
      padding-right: 0px;
      padding-left: 0px;
    }
  }

  .explanation {
    text-align: left;
  }

  .bottom-banner {
    max-height: none;
    height: auto;
  }

  .container {
    flex-direction: column-reverse;

    .vulture-title {
      max-width: 100%;
      border-top: 0px !important;


      img,
      p.header {
        display: none;
      }
    }
  }

  .vulture-container {
    border-top: 3px solid $primary !important;
    max-width: 100%;
    border-bottom: 0px !important;

    p.container-title {
      max-width: 100%;
      border-top: 0px;
      display: flex;
      flex-direction: column;
    }

    .get-mshot {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      .button {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .buttons {
    flex-direction: column;
    row-gap: 20px;
    width: 100%;

    .outlined-button {
      width: 100%;
    }
  }

  .details-box {
    max-width: 100%;
  }
}
