<section class="vulture">
  <div class="inner flex-space-between align-start">
    <div class="moon-bg"></div>
    <div class="banner-bg"></div>
    <app-navigation></app-navigation>

    <div class="vulture-container">
      <p class="title">VULTURE WHITELIST</p>

      <p class="explanation">
        Register for the private sale of the Junta #100 Vultures.<br><br>
      </p>

      <div class="address-box">
        <p>
          By whitelisting you will gain early access to the <span>La Junta #100</span> Launch and you have a chance to
          grab a Junta
          Vulture at a special discount.
          The Vulture NFTs offer revenue sharing with the upcoming Vulture Dinghy Club collection and it offers staking
          rewards in $VLTRS
          <br> Read more on
          <a href="https://thevulture.club" target="_blank">https://thevulture.club</a>
          <br><br>Go get and peck one!

        </p>
        <span [ngClass]="{'pt60': !isConnected}"></span>
        <a class="button" (click)="isConnected ?   registerToWhiteList() :  connectWallet()">
          {{isInProcess ? '' : (isConnected ? 'Whitelist Me!' : 'Connect Wallet')}}
          <img *ngIf="isInProcess" src="assets/media/videos/Loading_yellowBG.gif" class="loader-img"></a>
      </div>

      <p class="vulture-detail">
        Line-up: Patron [#1], Capitan [#3], Transporter [#18], Dealer [#3x25] and Addict [#3]
      </p>
    </div>

    <!-- <img class="bottom-banner" src="assets/media/images/vulture/banner4.webp" alt=""> -->
  </div>

  <app-sidebar></app-sidebar>
</section>
