@import "includes";


section.vesting {
  position: relative;
  padding: 20px;
  padding-top: 100px;
  margin-bottom: 100px;
  z-index: 100;

  .inner {
    @extend %max-width-center;
    align-items: flex-start;
  }
}

.vesting-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  .title {
    margin-bottom: 90px;
    font-size: 24px;
  }

  .searchbox {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 20px;
    margin-bottom: 40px;
    align-items: flex-end;

    input {
      width: 100%;
      background-color: transparent;
      border: 0px;
      border-bottom: 1px solid $primary;
      caret-color: $primary;
      color: $primary;
      text-align: end;
    }

    .outlined-button {
      min-width: 100px !important;
    }
  }

  .futuristic-container {
    .row {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      column-gap: 20px;

      .form-field {
        width: 100%;
        row-gap: 30px;
        display: flex;
        flex-direction: column;

        .form-row {
          display: flex;
          flex-direction: row;
          column-gap: 20px;
          align-items: flex-end;

          input {
            width: 100%;
            background-color: transparent;
            border: 0px;
            border-bottom: 1px solid $primary;
            caret-color: $primary;
            color: $primary;
            text-align: end;
          }
        }
      }
    }


  }
}

.buttons-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.dropdown_c {
  position: relative;
  margin: 20px auto;
  width: 100%;
}

.selected {
  width: 100%;
  max-width: 370px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $primary;
  border-radius: 5px;
  color: #131313;

  svg {
    width: 20px;
    margin-right: 10px;
    flex: 0 0 auto;

    path {
      fill: black;
    }
  }
}

.dropup {
  transform: scaleY(-1);
}

.selected span {
  display: flex;
  width: 100%;
}

.selected span {
  cursor: pointer;
  display: flex;
  padding: 10px 15px;
  margin: 0;
}

.drop-content {
  position: relative;
}

.drop-content ul {
  position: absolute;
  left: 0px;
  top: -3px;
  display: none;
  list-style: none;
  max-width: 370px;
  width: 100%;
  background: white;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  flex-direction: column;

  li {
    border-bottom: 1px solid black;
  }

  :last-child {
    border-bottom: 0px solid black !important;
  }
}

.visible {
  display: flex !important;
}


.drop-content ul li span {
  display: flex;
  padding: 10px 15px;
  text-decoration: none;
  color: #131313;
}

.drop-content ul li span:hover {
  background: rgba(0, 0, 0, 0.1);
  color: $primary;
  border-left: 5px solid rgba(0, 0, 0, 0.8);
  padding-left: 10px;
}

.release-bar::-webkit-scrollbar {
  display: none;
}

.close-button {
  display: flex;
  width: 100%;
  max-width: 370px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  align-items: flex-end;

  .close {
    height: 36px;
    width: 36px;
    cursor: pointer;
  }

  p {
    font-size: 24px;
    color: black;
    font-family: $primary-font;
  }
}

@media only screen and (max-width: $md) {
  .futuristic-container {
    .row {
      flex-direction: column !important;
      row-gap: 30px;

      .buttons-container {
        width: 100%;

        .button,
        .outlined-button {

          min-width: 100% !important;
        }
      }
    }
  }


}
