<section class="vesting">
  <div class="inner flex-space-between align-start">
    <div class="vesting-container">
      <p class="title">
        CREATE A NEW VESTING SCHEDULE
      </p>

      <div id="token-dropdown" class="dropdown_c dropdown_click">
        <div class="selected" (click)="toggleDropdown()">
          <span>
            <img style="height: 20px; margin-right: 10px;" src="{{selectedItem.icon}}" alt="token-icon">
            {{selectedItem.symbol}}
          </span>
          <svg [ngClass]="{'dropup': isDropdownActive}" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 7" version="1.1" x="0px" y="0px">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <path
                d="M2.793125,9.207375 C2.402125,8.816375 2.402125,8.184375 2.793125,7.793375 L7.086125,3.500375 L2.793125,-0.792625 C2.402125,-1.183625 2.402125,-1.815625 2.793125,-2.206625 C3.184125,-2.597625 3.816125,-2.597625 4.207125,-2.206625 L9.207125,2.793375 C9.598125,3.184375 9.598125,3.816375 9.207125,4.207375 L4.207125,9.207375 C4.012125,9.402375 3.756125,9.500375 3.500125,9.500375 C3.244125,9.500375 2.988125,9.402375 2.793125,9.207375 Z"
                fill="#d5a642"
                transform="translate(6.000125, 3.500250) rotate(-270.000000) translate(-6.000125, -3.500250) "></path>
            </g>
          </svg>
        </div>
        <div class="drop-content">
          <ul [ngClass]="{'visible': isDropdownActive}">
            <li (click)="selectItem(item)" *ngFor="let item of items">
              <span>
                <img style="height: 20px; margin-right: 10px;" src="{{item.icon}}" alt="token-icon">
                {{item.symbol}}
              </span>
            </li>
          </ul>
        </div>
      </div>

      <div class="searchbox">
        <p>Search:</p>
        <input type="text" name="searchbox" id="searchbox" [(ngModel)]="search">
        <a class="outlined-button" (click)="searchAddress()">Search</a>
      </div>
      <div class="futuristic-container top-only pv30">
        <div class="row">
          <div class="form-field">
            <div class="form-row">
              <p>Beneficiary: </p>
              <input type="text" name="beneficiary" id="beneficiary" [(ngModel)]="beneficiary">
            </div>
            <div class="form-row">
              <p>Start: </p>
              <input type="number" name="startTime" id="startTime" [(ngModel)]="startTime">
            </div>
            <div class="form-row">
              <p>Amount: </p>
              <input type="number" name="amount" id="amount" [(ngModel)]="amount">
            </div>
            <div class="form-row">
              <p>Duration: </p>
              <input type="number" name="duration" id="duration" [(ngModel)]="duration">
            </div>
            <div class="form-row">
              <p>Cliff: </p>
              <input type="number" name="cliff" id="cliff" [(ngModel)]="cliff">
            </div>
            <div class="form-row">
              <p>Is Revocable: </p>
              <ui-switch defaultBgColor="white" [checked]="isRevocable" (change)="changeRevocableStatus($event)"
                class="mr10">
              </ui-switch>
            </div>
          </div>
          <div class="buttons-container">
            <a class="button" (click)="createNewSchedule()">
              NEW SCHEDULE
            </a>
            <a class="outlined-button" (click)="revokeTheSchedule()">
              REVOKE
            </a>
            <a class="outlined-button" (click)="reset()">
              CLEAR
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
