@import "includes";

section.article-list {
    min-height: 100vh;
    position: relative;
    padding: 148px 20px 0;
    box-sizing: border-box;

  .inner {
    @extend %max-width-center;
  }
}

.side {
  width: 100%;
  max-width: 270px;
  margin-right: 20px;

  div {
    p {
      color: $secondary;
      font-size: 20px;

      &:first-child {
        color: $primary;
        margin-bottom: 20px;
        font-size: 16px;
      }
    }
  }
}

.list {
  width: 100%;
  max-width: 770px;
  color: #d5a642;
  flex-direction: column;

  .article {
    width: 100%;
    display: flex;
    flex-direction: row;

    > .thumb {
      align-items: center;
      display: flex;
      justify-content: center;

      >img {
        width: 100%;
      }
    }

    > .inner > p {
      text-align: center;
      margin-top: 20px;
      font-family: $primary-font;
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.69;
      letter-spacing: normal;
      text-align: center;
      color: $primary;
    }
  }
}

@media only screen and (max-width: $md) {}

@media only screen and (max-width: $sm) {}
