@import "includes";

section.news {
  position: relative;
  background-size: 50%;
  z-index: 2;
  padding: 0 20px;
  margin-top: 100px;
  margin-bottom: 350px;

  .inner {
    @extend %max-width-center;
  }
}

.stats {
  min-width: 300px;
  margin-right: 150px;
}

.info {
  color: $primary;
  max-width: 770px;

  .bottom > div:first-child > p {
    line-height: 30px;
  }

  .btn-group > .inner {
    @extend %max-width-center;

    > .round-large-button {
      width: 20%;
      height: auto;
      border-radius: 50%;
      margin-left: 5%;

      &:first-child {
        margin-left: 0;
      }

      svg {
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: $md) {
  section.news {
    background: 0;
    padding-top: 0;
    margin-bottom: 100px;

    .inner {
      @extend %max-width-center;
      justify-content: center;
    }
  }

  .info .btn-group > .inner {
    flex-wrap: wrap;
    justify-content: flex-start;

    .round-large-button {
      width: 30%;
      margin-bottom: 20px;

      &:nth-child(4n) {
        margin-left: 0;
      }
    }
  }

  .info .bottom {
    flex-direction: column;
  }
}
