<section class="news flex-end pv100">
    <div class="overlay"></div>
    <div class="inner flex justify-end align-start ">
       <div class="info">
            <div class="top futuristic-container bottom-only">
                <div class="inner flex-space-between">
                    <a *ngFor="let item of iconList" class="round-large-button" (mouseover)="item.hover = true" (mouseout)="item.hover = false" href={{item.url}} target="_blank">
                        <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 70 70" xml:space="preserve">
                            <style>path{fill:#d5a642}</style>
                            <path [style.fill]="item.hover == true ? item.focusColor : null" *ngFor="let p of item.paths" attr.d={{p}} />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="left">
                <div class="futuristic-container bottom-only">
                    <span class="p30 orbitron">Keep up with</span><br><span class="p-white-span-primary p30 orbitron">the latest news!</span>
                </div>
            </div>
            <div class="right flex">
                <div class="text-right mr20">
                    <p class="bold mt10">Join on:</p>
                </div>
                <div class="buttons-container">
                    <a href="https://t.me/MoonShotChat" target="_blank" class="button mb20">Telegram</a>
                    <a href="https://twitter.com/RS25Moonshot" target="_blank" class="button">Twitter</a>
                </div>
            </div>
       </div>
    </div>
</section>