@import "includes";

section.news {
  position: relative;
  background: url("/assets/media/images/illustration_1.png") left no-repeat;
  background-size: 60%;
  z-index: 9999;

  .inner {
    @extend %max-width-center;
    margin-bottom: 450px;
  }
}

.stats {
  min-width: 300px;
  margin-right: 150px;
}

.info {
  color: $primary;

  .bottom > div:first-child > p {
    line-height: 30px;
    font-weight: 200;
  }

  .btn-group > .inner {
    @extend %max-width-center;

    > .round-large-button > img {
      width: 80px;
    }
  }
}

@media only screen and (max-width: $sm) {
    section.news {
        background-size: 80%;
        .inner {
            @extend %max-width-center;
            margin-bottom: 250px;
        }
    }
}
