<section class="news flex-end pv100">
    <div class="overlay"></div>
    <div class="inner flex justify-end align-start ">
       <div class="info">
            <div class="btn-group futuristic-container bottom-only">
                <div class="inner flex-space-between pb50">
                    <div *ngFor="let item of imgSrcList" class="round-large-button" (mouseover)="item.hover = true" (mouseout)="item.hover = false" 
                    [style.border-color]="item.hover == true ? item.focusColor : '#D5A642'">
                        <img [src]="item.src" alt="{{item.alt}}" />
                    </div>
                </div>
            </div>
            <div class="bottom flex pv20">
                <div class="flex2 top futuristic-container no-padding-top bottom-only mr50">
                    <span class="p30 orbitron">Keep up with</span><br><span class="p-white-span-primary p30 orbitron">the latest news!</span>
                </div>
                <div class="flex1 text-right mr20">
                    <p class="bold mt10">Join on:</p>
                </div>
                <div class="buttons-container flex1 justify-end">
                    <a class="outlined-button mb10">Telegram</a>
                    <a href="https://twitter.com/RS25Moonshot" class="button">Twitter</a>
                </div>
            </div>
       </div>
    </div>
</section>