<section class="tutorial mt200">
    <div class="inner">
        <ul class="how-to-buy-flow">
            <li *ngFor="let step of steps; let i = index">
                <ng-container *ngIf="chain"></ng-container>
                
                <!-- chain -->
                <ng-template #chain id="chain">
                    <div class="indicator">
                        <div class="line"></div>
                        <div class="point">
                            <div class="line"></div>
                            <div class="dot"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>
    </div>
</section>