.inner img {
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-radius: 50%;
    padding: 4px;
}
.inner img.lock {
        border: none;
        width: 35px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        right: 0;
}
.plus_minus div, .plus_minus button,.plus_minus input {
    padding: 0.4375rem 1.25rem;
    background: transparent;
    border: none;
    color: white;
}
.plus_minus div.border_left_right {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.border {
    border: 1px solid #fff;
}
.border.plus_minus.flex {
    max-width: 200px;
    border-radius: 30px;
}
.border_left_right input {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
.buy_button {
    max-width: 150px;
    margin: auto;
}
.flex-column {
    flex-direction: column;
}

