<section class="landing flex">
    <div class="inner">
        <div class="left-corner"></div>
        <div class="right-corner"></div>


        <app-nav></app-nav>

        <section class="pt-5 h-100 inner flex-space-between align-items-center">
            <div class="inner mb0 flex-space-between align-start">
                <div class="flex1 flex-column flex-center">
                    <div class="relative">
                        <img src="./../../../../assets/media/images/moonbox/wood.png" class="img-fluid" alt="">
                        <img src="./../../../../assets/media/images/moonbox/Lock_moonbox.svg" alt="" class="img-fluid lock">
                    </div>
                    <div class="text-center">
                        <p class="p-white-span-primary p16d14m  mb10 mt10">Wood</p>
                        <p class="p-white-span-primary p16d14m mb10">0.5B</p>
                        <div class="border plus_minus flex mb20">

                            <button class="flex1 toggle-less" (click)="minus()">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="14"
                                    viewBox="0 0 11 14">
                                    <path fill="#fff"
                                        d="M11 5.75v1.5q0 0.312-0.219 0.531t-0.531 0.219h-9.5q-0.312 0-0.531-0.219t-0.219-0.531v-1.5q0-0.312 0.219-0.531t0.531-0.219h9.5q0.312 0 0.531 0.219t0.219 0.531z" />
                                </svg>
                            </button>
                            <div class="flex1 border_left_right">
                                <input type="text" class="form-control" [(ngModel)]="inputnumber">
                            </div>
                            <button class="flex1 toggle-more" (click)="plus()">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="14"
                                    viewBox="0 0 11 14">
                                    <path fill="#fff"
                                        d="M11 5.75v1.5q0 0.312-0.219 0.531t-0.531 0.219h-3.25v3.25q0 0.312-0.219 0.531t-0.531 0.219h-1.5q-0.312 0-0.531-0.219t-0.219-0.531v-3.25h-3.25q-0.312 0-0.531-0.219t-0.219-0.531v-1.5q0-0.312 0.219-0.531t0.531-0.219h3.25v-3.25q0-0.312 0.219-0.531t0.531-0.219h1.5q0.312 0 0.531 0.219t0.219 0.531v3.25h3.25q0.312 0 0.531 0.219t0.219 0.531z" />
                                </svg>
                            </button>
                        </div>
                        <a class="buy_button outlined-button mb10 text-inherit" [routerLink]="['/prize_pool']">Buy</a>
                    </div>
                </div>
                <div class="flex1 flex-center flex-column">
                    <div class="relative">
                        <img src="./../../../../assets/media/images/moonbox/silver.png" class="img-fluid" alt="">
                        <img src="./../../../../assets/media/images/moonbox/Lock_moonbox.svg" alt="" class="img-fluid lock">
                    </div>
                    <div class="text-center">
                        <p class="p-white-span-primary p16d14m mb10 mt10">Silver</p>
                        <p class="p-white-span-primary p16d14m mb10">1B</p>
                        <div class="border plus_minus flex mb20">

                            <button class="flex1 toggle-less" (click)="minus()">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="14"
                                    viewBox="0 0 11 14">
                                    <path fill="#fff"
                                        d="M11 5.75v1.5q0 0.312-0.219 0.531t-0.531 0.219h-9.5q-0.312 0-0.531-0.219t-0.219-0.531v-1.5q0-0.312 0.219-0.531t0.531-0.219h9.5q0.312 0 0.531 0.219t0.219 0.531z" />
                                </svg>
                            </button>
                            <div class="flex1 border_left_right">
                                <input type="text" class="form-control" [(ngModel)]="inputnumber">
                            </div>
                            <button class="flex1 toggle-more" (click)="plus()">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="14"
                                    viewBox="0 0 11 14">
                                    <path fill="#fff"
                                        d="M11 5.75v1.5q0 0.312-0.219 0.531t-0.531 0.219h-3.25v3.25q0 0.312-0.219 0.531t-0.531 0.219h-1.5q-0.312 0-0.531-0.219t-0.219-0.531v-3.25h-3.25q-0.312 0-0.531-0.219t-0.219-0.531v-1.5q0-0.312 0.219-0.531t0.531-0.219h3.25v-3.25q0-0.312 0.219-0.531t0.531-0.219h1.5q0.312 0 0.531 0.219t0.219 0.531v3.25h3.25q0.312 0 0.531 0.219t0.219 0.531z" />
                                </svg>
                            </button>
                        </div>
                        <a class="buy_button outlined-button mb10 text-inherit" [routerLink]="['/prize_pool']">Buy</a>
                    </div>
                </div>
                <div class="empty flex1">
                </div>
                <div class="flex1 flex-column flex-center">
                    <div class="relative">
                        <img src="./../../../../assets/media/images/moonbox/gold.png" class="img-fluid" alt="">
                        <img src="./../../../../assets/media/images/moonbox/Lock_moonbox.svg" alt="" class="img-fluid lock">
                    </div>
                    <div class="text-center">
                        <p class="p-white-span-primary p16d14m  mb10 mt10">Gold</p>
                        <p class="p-white-span-primary p16d14m mb10">2B</p>
                        <div class="border plus_minus flex mb20">

                            <button class="flex1 toggle-less" (click)="minus()">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="14"
                                    viewBox="0 0 11 14">
                                    <path fill="#fff"
                                        d="M11 5.75v1.5q0 0.312-0.219 0.531t-0.531 0.219h-9.5q-0.312 0-0.531-0.219t-0.219-0.531v-1.5q0-0.312 0.219-0.531t0.531-0.219h9.5q0.312 0 0.531 0.219t0.219 0.531z" />
                                </svg>
                            </button>
                            <div class="flex1 border_left_right">
                                <input type="text" class="form-control" [(ngModel)]="inputnumber">
                            </div>
                            <button class="flex1 toggle-more" (click)="plus()">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="14"
                                    viewBox="0 0 11 14">
                                    <path fill="#fff"
                                        d="M11 5.75v1.5q0 0.312-0.219 0.531t-0.531 0.219h-3.25v3.25q0 0.312-0.219 0.531t-0.531 0.219h-1.5q-0.312 0-0.531-0.219t-0.219-0.531v-3.25h-3.25q-0.312 0-0.531-0.219t-0.219-0.531v-1.5q0-0.312 0.219-0.531t0.531-0.219h3.25v-3.25q0-0.312 0.219-0.531t0.531-0.219h1.5q0.312 0 0.531 0.219t0.219 0.531v3.25h3.25q0.312 0 0.531 0.219t0.219 0.531z" />
                                </svg>
                            </button>
                        </div>
                        <a class="buy_button outlined-button mb10 text-inherit" [routerLink]="['/prize_pool']">Buy</a>
                    </div>
                </div>
                <div class="flex1 flex-center flex-column">
                    <div class="relative">
                        <img src="./../../../../assets/media/images/moonbox/diamond.png" class="img-fluid" alt="">
                        <img src="./../../../../assets/media/images/moonbox/Lock_moonbox.svg" alt="" class="img-fluid lock">
                    </div>
                    <div class="text-center">
                        <p class="p-white-span-primary p16d14m mb10 mt10">Diamond</p>
                        <p class="p-white-span-primary p16d14m mb10">10B</p>
                        <div class="border plus_minus flex mb20">

                            <button class="flex1 toggle-less" (click)="minus()">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="14"
                                    viewBox="0 0 11 14">
                                    <path fill="#fff"
                                        d="M11 5.75v1.5q0 0.312-0.219 0.531t-0.531 0.219h-9.5q-0.312 0-0.531-0.219t-0.219-0.531v-1.5q0-0.312 0.219-0.531t0.531-0.219h9.5q0.312 0 0.531 0.219t0.219 0.531z" />
                                </svg>
                            </button>
                            <div class="flex1 border_left_right">
                                <input type="text" class="form-control" [(ngModel)]="inputnumber">
                            </div>
                            <button class="flex1 toggle-more" (click)="plus()">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="14"
                                    viewBox="0 0 11 14">
                                    <path fill="#fff"
                                        d="M11 5.75v1.5q0 0.312-0.219 0.531t-0.531 0.219h-3.25v3.25q0 0.312-0.219 0.531t-0.531 0.219h-1.5q-0.312 0-0.531-0.219t-0.219-0.531v-3.25h-3.25q-0.312 0-0.531-0.219t-0.219-0.531v-1.5q0-0.312 0.219-0.531t0.531-0.219h3.25v-3.25q0-0.312 0.219-0.531t0.531-0.219h1.5q0.312 0 0.531 0.219t0.219 0.531v3.25h3.25q0.312 0 0.531 0.219t0.219 0.531z" />
                                </svg>
                            </button>
                        </div>
                        <a class="buy_button outlined-button mb10 text-inherit" [routerLink]="['/prize_pool']">Buy</a>
                    </div>
                </div>
            </div>
        </section>

        <div class="inner flex-space-between align-start mt20 box">
            <div class="stats flex1"></div>
            <div class="info flex4">
                <div class="shape text-center bottom flex ph50">

                    <div class="flex1 no-padding">
                        <p class="p-white-span-primary"><span class="p12">REDEEMED MOONSHOT

                            </span></p>
                        <p class="p-white-span-primary"><span><strong>15442
                                </strong></span></p>
                    </div>
                    <div class="flex1 no-padding down_box">
                        <p class="p12 mt-15">
                            <span>BALANCE MOONSHOT</span>
                        </p>
                        <p><strong>240960
                            </strong></p>
                    </div>
                    <div class="flex1 no-padding">
                        <p class="p12 p-white-span-primary"><span>NFT TOTAL
                            </span></p>
                        <p class="p-white-span-primary"><span><strong>22
                                </strong></span></p>
                    </div>
                </div>
            </div>
            <div class="stats flex1"></div>
        </div>
    </div>
    <app-sidebar></app-sidebar>
</section>