<section class="moonbase-bar">
    <div class="close-button">
        <img class="close" (click)="toggleMoonbase()" src="assets/media/icons/close.svg" alt="close">
    </div>
    <div class="inner balloon">
        <div class="content">
            <video class="moonboxes" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
                <source src="assets/media/videos/moonboxes-teaser.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>
                Buy Moonboxes and<br>expand your NFT<br>collection!
            </p>
            <p class="moonbase-note-text">
            </p>
            <div class="buttons-section">
                <a href="https://moonboxes.io/" class="more-button ">More info</a>
                <a href="https://moonboxes.io/" class="buy-button">Buy now!</a>
            </div>
        </div>
    </div>
</section>
