<section class="moonbase-bar">
    <div class="close-button">
        <img class="close" (click)="toggleMoonbase()" src="assets/media/icons/close.svg" alt="close">
    </div>
    <div class="inner balloon">
        <div class="content">
            <div id="moonbase-particles">
            </div>
            <div class="moonboxes">
            </div>
            <p>
                Do you feel lucky?<br>Buy a MoonBox and win rare NFTs!
            </p>
            <div class="buttons-section">
                <a href="#" class="more-button ">More info</a>
                <a href="#" class="buy-button">Buy now!</a>
            </div>
        </div>
    </div>
</section>