<section class="team">
    <div class="inner">
        <div class="flex-space-between align-start">
            <div class="info-container-title-section flex1">
                <div class="futuristic-container p30d24m">
                    <p>THE COMMUNITY</p>
                    <p class="color-white orbitron ">People behind <br>Moonshot</p>
                </div>
            </div>
            <div class="info-container flex3">
                <div class="bottom flex border-top-full-width">
                    <div class="flex futuristic-container bottom-only mr50">
                        <p class="explanation color-primary">
                            Meet the people that are behind the scenes on Moonshot! With team members from around the world like: England, Ukraine, Turkey, India, and the USA, the ideas and visions being shared are unique and full of energy. Everyone working on this project is here
                            to ensure that we all have an opportunity to take our dreams to the moon and be part of the best crypto project launched on this side of the moon.
                        </p>
                    </div>
                    <div class="flex1 flex justify-end mt20">
                        <div class="round-mini-button" (click)="scrollToElement('', 'team-members')">
                            <mat-icon fontSet="material-icons" class="color-primary">arrow_downward</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-members id="team-members"></app-members>
    </div>
</section>