<section class="subscription flex-end">
    <div class="overlay"></div>
    <div class="inner flex-space-between">
       <div class="info">
            <div class="bottom flex pv20">
                <div class="group flex">
                    <div class="flex group-img justify-center">
                        <img src="assets/media/images/community/fuel_illustration.svg" alt="moonticket" />
                    </div>
                    <p class="title">Fuel the rocket</p>
                    <span class="description">
                        To reach the moon, we need to fuel our rocket. To pay 
                        for that fuel, we need your help. By donating BNB you’ll accelerate the project and fund our mission to the moon. Our fund address is: 
                        0x9d8a5d6B405c2Eb7cee724F4B2F67a902F0f0864
                    </span><br>
                    <a class="outlined-button mt50">Donate</a>
                </div>
                <div class="group flex">
                    <div class="flex group-img justify-center">
                        <div class="round-mini-button">
                            <mat-icon fontSet="material-icons" class="color-primary">arrow_back</mat-icon>
                        </div>
                        <img src="assets/media/images/community/fuel_illustration.png" alt="moonticket" />
                        <div class="round-mini-button">
                            <mat-icon fontSet="material-icons" class="color-primary">arrow_forward</mat-icon>
                        </div>
                    </div>
                    <p class="title">Get your Moonshot apparel</p>
                    <span class="description">
                        At »»TeePublic«« you can buy MOONSHOT branded merchandise like T-Shirts, Hoodies, Tank Tops, Wall Art, Mugs, Pillows, Pins and much more.
                    </span><br>
                    <a class="outlined-button mt50">Order now</a>
                </div>
            </div>
       </div>
    </div>
</section>