@import "includes";

section.exchanges {
  > .inner {
    @extend %max-width-center;

    > div:first-child > img {
      width: calc(100% / 3 - 20px);
    }
  }
}

.stats {
  min-width: 300px;
  margin-right: 150px;

  div > p {
    font-size: 20px;

    &:first-child {
      color: $primary;
      margin-bottom: 50px;
      font-size: 12px;
    }
  }
}

.buy-info .futuristic-container {
  border-top: 1px solid $primary;
}

.explanation {
  line-height: 30px;
  font-weight: 200;
}

@media only screen and (max-width: $md) {
  .inner > div:nth-child(2) {
    flex-direction: column;
  }
}

@media only screen and (max-width: $sm) {
}
