<section class="exchanges">
    <div class="inner">
        <div class="flex-space-between">
            <img src="assets/media/images/exchanges/bitmart.svg" alt="bitmart" />
            <img src="assets/media/images/exchanges/pancakeswap.svg" alt="pancakeswap" />
            <img src="assets/media/images/exchanges/p2p-b2b.svg" alt="p2p-b2b" />
        </div>
        <div class="flex-space-between align-start mt100">
            <div class="stats flex1">
                <div class="timer futuristic-container">
                 <p>CRYPTO EXCHANGE</p>
                 <p class="color-white orbitron">Traded on...</p>
                </div>
            </div>
            <div class="buy-info flex3">
                 <div class="futuristic-container flex">
                     <p class="explanation mr100 color-primary">Jump start your crypto portfolio. These exchanges are the places to buy and sell Moonshot. Go and have a look. When you’re new to Moonshot, read our 7 easy steps to help you get started.</p>
                     <a class="outlined-button">How to buy</a>
                 </div>
            </div>
         </div>
    </div>
</section>