@import "includes";


section.navigation {
  // @include paddingInside(15px);
  padding: 0.9375rem 3rem;
  padding-bottom: 0;
  background-color: $primary;
  // background: rgba($color: #000000, $alpha: 0.5);
  box-shadow: 0 4px 12px 0 #00000000;
  box-sizing: border-box;
  position: fixed;
  width: calc(100% - #{$sidebar-width});
  left: 0;
  right: $sidebar-width;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.logo-container {
  // width: 270px;
  border-top: 6px solid $primary;
  padding: 0.5rem 0;

  a {
    text-decoration: none;
  }

  .logo {
    height: toRem(80px);
    margin-right: 10px;
  }

  p {
    font-size: 20px;
    font-weight: $semi-bold;
    color: black;

    > span {
      color: $primary;
      font-weight: $medium;
    }
  }
}
.pl5 {
  padding-left: 5px;
}
.justify-around {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}
.justify-around svg {
  width: 30px;
  transform: rotate(180deg);
}

nav {
  @extend %max-width-center;
  align-items: initial;

  ul {
    // width: inherit;
    justify-content: center;
    margin-left: -120px;
    padding-bottom: 0rem;
    border-bottom: 4px solid #9f7c31;
    li {
      border-top: 1px solid $primary;
      padding-top: 14px;
      padding-bottom: 18px;
      margin: 0 toEm(12.5px);
      width: auto;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $body-bg-color;
        font-family: $primary-font;
        font-size: $primary-fs;
        font-weight: $semi-bold;
        text-transform: capitalize;
        text-decoration: none;

        &:hover {
          color: $white;
        }
      }
    }
  }

  .mob-menu {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    transition: 0.1s;
    cursor: pointer;

    &.open {
      transform: rotate(180deg);
      cursor: pointer;
      transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);

      > span {
        border-radius: 50%;
        transition-delay: 200ms;
        transition: 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);

        &:nth-child(2) {
          left: 6px;
          top: 6px;
        }

        &:nth-child(4) {
          left: 6px;
          top: 18px;
        }

        &:nth-child(6) {
          right: 6px;
          top: 6px;
        }

        &:nth-child(8) {
          left: 18px;
          bottom: 6px;
        }
      }
    }

    > span {
      width: 5px;
      height: 5px;
      background-color: #fff;
      display: block;
      border-radius: 50%;
      position: absolute;

      &:nth-child(1) {
        left: 0;
        top: 0;
      }

      &:nth-child(2) {
        left: 12px;
        top: 0;
      }

      &:nth-child(3) {
        right: 0;
        top: 0;
      }

      &:nth-child(4) {
        left: 0;
        top: 12px;
      }

      &:nth-child(5) {
        position: absolute;
        left: 12px;
        top: 12px;
      }

      &:nth-child(6) {
        right: 0px;
        top: 12px;
      }

      &:nth-child(7) {
        left: 0px;
        bottom: 0px;
      }

      &:nth-child(8) {
        position: absolute;
        left: 12px;
        bottom: 0px;
      }

      &:nth-child(9) {
        right: 0px;
        bottom: 0px;
      }
    }
  }
}

.menubar.flex li:first-child {
  border-bottom: 4px solid #000;
  margin-left: 0em !important;
} 
.flex-space-between {
  max-width: 100%;
}

@media only screen and (max-width: $md-header) {
  ul {
    display: none;
  }

  nav > div.mob-menu {
    display: block;
  }
}
