<section class="alert-dialog">
    <div [ngClass]="{'bottom-border' : metamaskBoxHover}" class="dialog-box" (click)="onDialogBoxClick('metamask')" (mouseleave)="metamaskBoxHover=false" (mouseenter)="metamaskBoxHover=true">
        <div>
            <img class="dialog-icon" src="assets/media/images/community/Metamask_icon.svg" />
        </div>
        <p class="dialog-box-title">Metamask</p>
        <p class="dialog-box-desc"> Connect to your Metamask<br>wallet</p>
    </div>
    <div [ngClass]="{'bottom-border' : walletConnectBoxHover}" class="dialog-box" (click)="onDialogBoxClick('walletconnect')" (mouseleave)="walletConnectBoxHover=false" (mouseenter)="walletConnectBoxHover=true">
        <div>
            <img class="dialog-icon" src="assets/media/images/community/walletconnect-circle-blue.svg" />
        </div>
        <p class="dialog-box-title">WalletConnect</p>
        <p class="dialog-box-desc"> Scan with WalletConnect<br> to connect</p>
    </div>
</section>