<section class="plans">
    <div class="inner">
        <div class="roadmap flex-col-align-end">
            <div class="wp100 flex-space-between flex-align-end">
                <p class="p38 white">ROADMAP<br>2021</p>
                <p class="p38 primary">OUR PLANS</p>
            </div>
            <div class="wp50">
                <div class="balloon wp100" style="height: 100px;">A</div>
                <div class="balloon wp100 mt20" style="height: 100px;">B</div>
                <div class="balloon wp100 mt20" style="height: 100px;">C</div>
                <div class="balloon wp100 mt20" style="height: 100px;">D</div>
            </div>
        </div>

        <div class="merchandise">
            <div class="wp100 flex flex-align-end">
                <p class="p38 white">MERCHANDISE</p>
            </div>
            <div class="flex-center">
                <div class="wp25">
                    <div class="balloon" style="height: 335px;">A</div>
                    <div class="balloon white text-center mt20">MOONBIRB</div>
                </div>
                <div class="wp25 ml20 mr20">
                    <div class="balloon" style="height: 335px;">B</div>
                    <div class="balloon white text-center mt20">BEAR</div>
                </div>
                <div class="wp25">
                    <div class="balloon" style="height: 335px;">C</div>
                    <div class="balloon white text-center mt20">BULL</div>
                </div>
            </div>
        </div>
    </div>
</section>