<section class="mechanics mb100">
    <div class="inner">
        <div class="flex-space-between align-start">
            <div class="stats flex1">
                <div class="timer futuristic-container">
                    <p>MOONSHOT MECHANICS</p>
                    <p class="color-white orbitron">What <br>is Moonshot?</p>
                </div>
            </div>
            <div class="info flex3">
                <div class="futuristic-container flex-col top-only">
                    <p class="explanation bold mb30">
                        Moonshot is a deflationary, self-regenerating automatic liquidity providing protocol that pays out static rewards to holders. As our burn address is in the list of holders, the total supply of moonshot is forever decreasing.
                    </p>
                    <p class="explanation bold">Reward distribution</p>
                    <p class="explanation">
                        4% of each transaction is distributed amongst Moonshot holders. This increases the incentive to hold the tokens in the wallets. As more transactions
                        take place in the network, the net-worth of every individual increases as well. Six percent of each transaction is automatically added to the liquidity pool. This contributes to lower price volatility and a continuously increasing price
                        floor.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>