@import "includes";
section.mechanics {
  @include paddingsInside(0px, 20px);
  > .inner {
    @extend %max-width-center;
  }
}

.stats {
  width: 100%;
  max-width: 270px;
  margin-right: 20px;

  div > p {
    font-size: 30px;
    &:first-child {
      margin-bottom: 20px;
      font-size: 12px;
    }
  }
}

.info {
  width: 100%;
  max-width: 770px;
}

.info .futuristic-container {
  border-top: 1px solid $primary;
  padding-right: 20%;
}

.explanation {
  line-height: 30px;
}

@media only screen and (max-width: $md) {
  section.mechanics {
    margin-top: 100px;
    margin-bottom: 50px;
    > .inner > div {
      flex-direction: column;
    }
  }
  .stats {
    margin-right: 0;
    max-width: initial;
  }
  .info .futuristic-container {
    border-top: 0;
    padding-right: 0;
  }
}
