<section class="mechanics">
    <div class="inner">
        <div class="flex-space-between align-start mt100">
            <div class="stats flex1">
                <div class="timer futuristic-container">
                 <p>MOONSHOT MECHANICS</p>
                 <p class="color-white orbitron">What Moonshot is</p>
                </div>
            </div>
            <div class="buy-info flex3">
                 <div class="futuristic-container flex top-only">
                     <p class="explanation mr100 color-primary">
                        <b>Moonshot is a deflationary, self-regenerating automatic liquidity providing protocol that pays out static rewards to holders. As our burn address is in the list of holders, the total supply of moonshot is forever decreasing.
                        <br><br>Reward distribution</b><br>
                        4% of each transaction is distributed amongst Moonshot holders. This increases the incentive to hold the tokens in the wallets. When nobody is selling, the price could moon rocket. WallStreetBets won the fight against hedge funds. Just by buying and holding, as the key to success. Every single Moonshot holder has an incentive to spread the use of Moonshot as much as possible. As more transactions take place in the network, the net-worth of every individual increases as well.
                     </p>
                 </div>
            </div>
         </div>
    </div>
</section>