<section class="mechanics">
    <div class="inner">
        <div class="flex-space-between align-start">
            <div class="info-container-title-section flex1">
                <div class="futuristic-container p30d24m">
                    <p>MOONSHOT MECHANICS</p>
                    <p class="color-white orbitron">What is<br>Moonshot?</p>
                </div>
            </div>
            <div class="info-container flex3">
                <div class="futuristic-container flex-col top-only">

                    <p class="explanation bold mb30">
                        Moonshot can be used for:
                    </p>
                    <p class="explanation bold">MoonBoxes</p>
                    <p class="explanation">
                        MSHOT holders are entitled to benefits such as discounts on NFTs and whitelisted spots on new MoonBox NFT collection launches. 
                    </p>
                    <br/><br/>
                    <p class="explanation bold">MoonArcade</p>
                    <p class="explanation">
                        MSHOT holders are entitled to play games at MoonArcade and use the token in-game. 
                    </p>
                    <br/><br/>
                    

                    <br/><br/><br/>

                </div>
                 
            </div>
        </div>
      

    </div>
</section>