<section class="products">
  <div class="inner">
    <div class="header">
      <div class="inner">
        <div class="title">MOONBASE</div>
        <div class="sub-title orbitron mv30 p30d24m">NFTs & Gaming</div>
        <div class="description p18">ETH, Polygon, BSC and MoonRiver
        </div>
      </div>
    </div>
    <div class="options">
      <div class="option flex-center-col">
        <div class="box moon-box flex-center mb20">
          <a href="https://moonboxes.io" target="_blank">
            <video autoplay controls [muted]="true" [loop]="true" [controls]="false" class="animated-logo">
              <source src="assets/media/videos/MoonBoxes_LOGO_full_animated_export.webm" type="video/mp4">
            </video>
          </a>

        </div>
        <a class="outlined-button inverse fit" href="https://moonboxes.io" target="_blank">MoonBoxes</a>
      </div>
      
      <div class="option flex-center-col">
        <div class="box moon-box flex-center mb20">
          <a href="https://moonsea.io" target="_blank">
            <video autoplay controls [muted]="true" [loop]="true" [controls]="false" class="animated-logo">
              <source src="assets/media/videos/MoonSea_LOGO_full_animated.webm" type="video/mp4">
            </video>
          </a>
        </div>
        <a class="outlined-button inverse fit" href="https://moonsea.io" target="_blank">MoonSea</a>
      </div>
      
      <div class="option flex-center-col">
        <div class="box moon-arcade flex-center mb20">
          <img class="icon" src="assets/media/icons/products/moon-arcade.svg" alt="Moonarcade" />
          <p class="notice p27d18m bold color-primary">In development</p>
        </div>
        <a class="outlined-button inverse fit" href="https://moonarcade.games" target="_blank">MoonArcade</a>
      </div>

    </div>
  </div>
</section>
