<section class="intro flex-center">
    <div class="inner flex-space-between align-start">
       <div class="stats flex1">
           <div class="timer futuristic-container">
            <p>MISSION ELAPSED TIME</p>
            <p class="countdown">--:--:--:--</p>
           </div>
           <div class="price futuristic-container">
            <p>PRICE FOR ONE MILLION MOONSHOT</p>
            <p>$0.0393556932...</p>
           </div>
       </div>
       <div class="info flex3">
            <div class="line-container flex">
                <div class="line flex2"></div>
                <div class="empty flex1"></div>
            </div>
            <div class="top futuristic-container bottom-only">
                <p class="p-white-span-primary p34 orbitron">Hold Moonshot<br><span>and get rewarded when<br>others transfer</span></p>
            </div>
            <div class="bottom flex pv20">
                <div class="flex2 futuristic-container bottom-only no-padding mr50">
                    <p class="mb20">Moonshot is a deflationary, frictionless yield and Liquidity protocol. Read more about Moonshot or start buying!</p>
                </div>
                <div class="buttons-container flex1">
                    <a [routerLink]="['/about']" class="outlined-button mb20">Read more</a>
                    <a href="https://exchange.pancakeswap.finance/#/swap" class="button">Buy Moonshot</a>
                </div>
                <div class="flex1 flex justify-end">
                    <div class="round-mini-button" (click)="scrollToElement('', 'news')">
                        <mat-icon fontSet="material-icons" class="color-primary">arrow_downward</mat-icon>
                    </div>
                </div>
            </div>
       </div>
    </div>
</section>