@import "includes";

section.intro {
  min-height: 100vh;
  position: relative;
  background: url("/assets/media/images/moon-shadow.png") top right no-repeat;

  .inner {
    @extend %max-width-center;
    padding: 0 20px;
    margin-bottom: 200px;
  }
}

.stats {
  min-width: 300px;
  margin-right: 150px;

  div {
    &:first-child {
      margin-bottom: 40px;
    }

    p {
      color: $secondary;
      font-size: 25px;
      font-weight: $bold;

      &:first-child {
        color: $primary;
        margin-bottom: 50px;
        font-size: 12px;
      }
    }
  }
}

.info {
  color: $primary;

  .bottom > div:first-child > p {
    line-height: 30px;
  }
}

@media only screen and (max-width: $md) {
  section.intro {
    align-items: center;
    .inner {
      flex-direction: column;
      margin-bottom: 0;
      padding-top: 100px;

      .stats {
        display: none;
      }

      .info > .bottom {
        flex-direction: column;

        .futuristic-container {
          border-bottom: 0;
        }

        .buttons-container {
          margin-top: 20px;
          margin-bottom: 20px;
        }

        .round-mini-button {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: $sm) {
}
