<section class="intro flex-center">
  <div class="inner flex-space-between align-start">
    <div class="stats flex1">
      <div class="timer futuristic-container">
        <p>MISSION ELAPSED TIME</p>
        <p class="countdown">--:--:--:--</p>
      </div>
      <div class="price futuristic-container">
        <p>PRICE FOR ONE MILLION MOONSHOT</p>
        <p>{{priceForOneMillion}}</p>
      </div>
    </div>
    <div class="info flex3">
      <div class="line-container flex">
        <div class="line flex2"></div>
        <div class="empty flex1"></div>
      </div>
      <div class="top futuristic-container bottom-only">
        <p class="p-white-span-primary p34 orbitron">
          ⚠️ Moonshot Token Migration <br class="mb30">
          <span>Trading is temporarily halted.</span>
        </p>
      </div>
      <div class="bottom flex pv20">
        <div class="flex2 futuristic-container bottom-only no-padding">
          <p class="mb20">The Moonshot token is migrating to V2. A new & improved audited contract which enhances
            security and allows for more autonomy over the liquidity pool.</p>
        </div>
        <div class="buttons-container flex1">
          <a target="_blank" class="button">Read More</a>
        </div>
        <div class="flex1 flex justify-end">
          <div class="round-mini-button" (click)="scrollToElement('', 'moonswap')">
            <mat-icon fontSet="material-icons" class="color-primary">arrow_downward</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
