@import "includes";

section.intro {
  min-height: 100vh;
  width: 100vw;
  position: relative;

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
  }

  .inner {
    @extend %max-width-center;

    z-index: 2;
    position: relative;

    .left {
      width: 100%;
      max-width: 600px;

      .telegram-btn {
        margin-right: 20px;
      }
    }

    .right {
      padding-left: 20px;
      box-sizing: border-box;
    }
  }
}

@media only screen and (max-width: $sm) {
}
