<section class="intro fx-center">
    <div id="particles"></div>
    <div id="particles2"></div>
    <div class="overlay"></div>
    <div class="inner fx-space-between">
        <div class="left fx-col">
            <p class="p40 w800 white">DEFLATIONARY, FRICTIONLESS YIELD & LIQUIDITY GENERATION PROTOCOL.</p>
            <p class="p22 w300 white">SIMPLY HOLD MOONSHOT IN YOUR WALLET AND GAIN REWARDS WHEN OTHERS TRANSFER.</p>
            <div class="buttons-container fx">
                <a href="#" class="telegram-btn round-btn">Join on Telegram</a>
                <a href="#" class="twitter-btn round-btn">Join on Twitter</a>
            </div>
        </div>
    </div>
</section>