@import "includes";

section.intro {
  min-height: 100vh;
  position: relative;
  padding: 148px 20px 0;
  box-sizing: border-box;

  .inner {
    @extend %max-width-center;
  }
}

.stats {
  width: 100%;
  max-width: 270px;
  margin-right: 20px;

  div {
    &:first-child {
      margin-bottom: 40px;
    }

    p,
    countdown {
      color: $primary;
      font-size: 25px;
      font-weight: $bold;

      &:first-child {
        color: $primary;
        margin-bottom: 62px;
        font-size: 12px;
      }
    }
  }
}

.vesting {
  display: flex;
  flex-direction: column;

  .releasable-amount {
    font-size: 16px !important;
    margin-bottom: 20px;
  }

  .button {
    img {
      margin: -10px !important;
    }
  }

}

.buy-mshot {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;

    svg {
      height: 20px;
    }

    p {
      font-size: 16px;
      font-weight: 700;
      margin-left: 10px;
    }

    input {
      background-color: transparent;
      border-color: transparent;
      border-bottom-color: transparent;
      border-bottom: 1px solid $primary;
      max-width: 50px;
      margin: 0px 10px;
      color: $primary;
      text-align: end;
      font-size: 16px;
      width: 100% !important;
      flex: 1;
      max-width: 200px;

    }
  }

  .tooltip {
    .bottom {
      height: 80px;
      color: white !important;
    }
  }
}

.claimed-text {
  span {
    color: white;
    cursor: pointer;
  }
}

.v2 {
  color: white;
  font-size: 20px;
}

.info {
  width: 100%;
  max-width: 770px;
  color: $primary;

  .outlined-button {
    max-width: 160px !important;
  }

  .line-container {
    .line {
      height: 3px;
      background-color: $primary;
    }

    .empty {
      margin-left: -120px;
    }
  }

  .bottom>div:first-child>p {
    line-height: 30px;
  }
}

.buttons-container {
  margin-top: auto !important;
  margin-bottom: 30px;
  margin-left: 30px;
}

.buttons-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 30px;

  .button,
  .outlined-button {
    height: 53px !important;
  }

  .disabled-button {
    min-width: 235px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: gray !important;
    cursor: not-allowed !important;
    column-gap: 10px;

    img {
      height: 25px;
    }
  }
}

.no-border {
  border: none !important;
}

.space-between-titles {
  margin-bottom: 62px;
}

.warning-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    color: $primary;
  }
}

.buy-section {
  margin-left: 30px;
  border-radius: 30px;
  border: 1px solid $primary;
  padding-left: 20px;

  svg {
    height: 20px;
  }

  p {
    margin-left: 10px;
  }

  input {
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: transparent;
    border-bottom: 1px solid $primary;
    max-width: 50px;
    margin: 0px 10px;
    color: $primary;
    text-align: end;
    font-size: 16px;
    font-weight: 500;
  }
}

.centered-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.loader-img {
  width: 35px;
}

.loading {
  padding: 5.5px 0 !important;

  &:hover {
    background-color: $primary !important;
  }

  cursor: text !important;
}

.tooltip {
  .button {
    margin-bottom: -1px !important;
    margin-right: -1px !important;
  }
}

.tooltip .bottom {
  width: 240px;
  transform: translate(6%, 0%) scaleY(1);
  padding: 20px 20px;
  color: white;
  background-color: black;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.69;
  text-align: left;
  -webkit-transition: .3s all;
  -webkit-transition-delay: .3s;
  -moz-transition: .3s all;
  -moz-transition-delay: .3s;
  -ms-transition: .3s all;
  -ms-transition-delay: .3s;
  -o-transition: .3s all;
  -o-transition-delay: .3s;
  transition: .3s all;
  transition-delay: .3s;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80px;

    .close-button {
      cursor: pointer;
      display: flex;
      height: 24px;
      width: 24px;
      align-self: flex-start;
      margin-top: 10px;
      filter: brightness(0) invert(1);
      margin-right: 20px;

      &:hover {
        filter: brightness(0) invert(1);
      }
    }

    p {
      color: white;
    }
  }
}

.close-tooltip {
  visibility: hidden !important;
  //opacity: 0 !important;
  -webkit-transition-delay: -0.3s !important;
  -moz-transition-delay: -0.3s !important;
  -ms-transition-delay: -0.3s !important;
  -o-transition-delay: -0.3s !important;
  transition-delay: -0.3s !important;
}

.tooltip:hover .bottom {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.tooltip .bottom i {
  position: absolute;
  top: -10px;
  left: 65%;
  margin-left: -52px;
  width: 24px;
  height: 12px;
  overflow: hidden;
  transform: scaleY(1);
}

.tooltip .bottom i::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 15px;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg) scaleY(-1);
  background-color: black;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: $md) {
  section.intro {
    align-items: center;
    padding-top: 200px;

    .inner {
      flex-direction: column-reverse;
      margin-bottom: 0;

      .stats {
        margin-right: 0;
        margin-top: 100px;
        max-width: initial;

        >.timer {
          p:first-child {
            margin-bottom: 20px;
          }
        }

        >.price {
          display: none;
        }
      }

      .info {
        >.top>p {
          font-size: 27px;
        }

        .outlined-button {
          max-width: 100% !important;
        }

        .bottom {
          flex-direction: column;

          .futuristic-container {
            border-bottom: 0;
          }

          .round-mini-button {
            display: none;
          }
        }
      }
    }
  }

  .vesting>.button {
    min-width: 100% !important;
  }
}

@media only screen and (max-width: $md) {

  .buttons-container {
    margin-left: 0px;
  }

  .warning-title {
    height: 100%;
  }

  .buttons-section {
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 100%;
    row-gap: 30px;
    align-items: stretch;

    .button {
      min-width: 100% !important;
    }
  }

  .buy-section {
    margin-left: 0px;

    .tooltip {
      .bottom {
        transform: translate(-33.4%, 0%) scaleY(1);

        i {
          left: 80%;
        }
      }
    }
  }

  .centered-row {
    justify-content: space-between;
    align-items: center;
  }

  input#buy {
    width: 100%;
    max-width: 100%;
  }

  .button {
    min-width: 150px !important;
    max-width: 170px;
    width: 100%;
  }

  .buy-mshot {
    .tooltip {
      .button {
        width: 100%;
        min-width: 100% !important;
      }
    }
  }
}
