<section class="sidebar">
    <div class="block flex-center">
        <mat-icon fontSet="material-icons">account_balance_wallet</mat-icon>
    </div>
    <ul>
        <li><a href="#" [routerLink]="['/moonbase']">MoonBase</a></li>
        <li><a href="#" (click)="tokenomics()">Tokenomics</a></li>
    </ul>
</section>

<section class="tokenomics" *ngIf="active">
    <div class="d-flex">
        <div class="p30 close text-right pull-right" (click)="inactive()">X</div>
    </div>
    <app-tokenomics></app-tokenomics>
</section>