@import "includes";

section.sidebar {
  background-color: $primary;
  width: $sidebar-width;
  height: 100vh;
  z-index: 2;
  position: fixed;
}

.close {
  color: #7e6328;
  cursor: pointer;
  margin-left: auto;
}
.d-flex {
  display: flex;
}
section.tokenomics {
  padding: 22px 60px 0px;
  box-sizing: border-box;
  .inner {
    @extend %max-width-center;

    border-radius: 160px;
  }
}

section.tokenomics {
  background: #d7b13e;
  position: fixed;
  right: 0;
  top: 0;
  width: 50vw;
  z-index: 12000;
  margin-right: 65px;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
}

.block {
  background: $secondary;
  width: $sidebar-width;
  height: $sidebar-width;

  > p {
    color: #d6a644;
  }
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  li {
    text-align: center;
    border-bottom: 2px solid black;

    &:last-child {
      border: 0;
    }

    a,
    p {
      padding: 20px 0;
      color: black;
      text-decoration: none;
      font-weight: $semi-bold;
      writing-mode: tb-rl;
      cursor: pointer;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);

      &:hover {
        color: $white;
      }
    }
  }
}

@media only screen and (max-width: $md) {
  section.sidebar {
    display: none;
  }
}
