@import "includes";

section.sidebar {
  background-color: $primary;
  width: $sidebar-width;
  height: 100vh;
  z-index: 2;
  position: fixed;
}

.block {
  width: 100%;
  border-radius: 20px;
  background: #1f1e1e;

  > p {
    color: #d6a644;
  }
}
