@import "includes";

section.release-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  background: $primary;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 455px;
  z-index: 1199;
  margin-right: 64px;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  border-right: 1px solid black;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;

  /* Firefox */
  .inner {
    margin-bottom: 5px !important;
    max-width: 370px;
    border-radius: 160px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .content {
      display: flex;
      width: 100%;
      flex-direction: column;
      padding-top: 100px;

      .release-container {
        display: flex;
        flex-direction: column;
        padding-top: 100px;

        .releasable-amount {
          font-size: 16px !important;
          margin-bottom: 20px;
        }

        .outlined-button {
          background: black !important;

          &:hover {
            background-color: white !important;
            color: black !important;
          }

          img {
            margin: -20px !important;
          }
        }
      }
    }
  }
}

.dropdown_c {
  position: relative;
  margin: 20px auto;
  width: 100%;
}

.selected {
  width: 100%;
  max-width: 370px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #131313;

  svg {
    width: 20px;
    margin-right: 10px;
    flex: 0 0 auto;

    path {
      fill: black;
    }
  }
}

.dropup {
  transform: scaleY(-1);
}

.selected span {
  display: flex;
  width: 100%;
}

.selected span {
  cursor: pointer;
  display: flex;
  padding: 10px 15px;
  margin: 0;
}

.drop-content {
  position: relative;
}

.drop-content ul {
  position: absolute;
  left: 0px;
  top: -3px;
  display: none;
  list-style: none;
  max-width: 370px;
  width: 100%;
  background: white;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  flex-direction: column;

  li {
    border-bottom: 1px solid black;
  }

  :last-child {
    border-bottom: 0px solid black !important;
  }
}

.visible {
  display: flex !important;
}


.drop-content ul li span {
  display: flex;
  padding: 10px 15px;
  text-decoration: none;
  color: #131313;
}

.drop-content ul li span:hover {
  background: rgba(0, 0, 0, 0.1);
  color: $primary;
  border-left: 5px solid rgba(0, 0, 0, 0.8);
  padding-left: 10px;
}

.release-bar::-webkit-scrollbar {
  display: none;
}

.close-button {
  display: flex;
  width: 100%;
  max-width: 370px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  align-items: flex-end;

  .close {
    height: 36px;
    width: 36px;
    cursor: pointer;
  }

  p {
    font-size: 24px;
    color: black;
    font-family: $primary-font;
    font-weight: 700;
  }
}

p {
  color: black;
}

.my-3 {
  margin: 1rem 0;
}

.invisible-md {
  min-height: 15px;
}

li {
  //   margin-bottom: 1rem;
  min-height: 41px;

  &:last-child {
    margin-bottom: 0;
  }
}

.wallet-address {
  display: flex;
  margin-top: auto;
  justify-content: center;
  padding: 20px 0px;
  color: black;

  &:hover {
    span {
      color: white !important;
      border-bottom: 2px solid white;
    }

    svg>g>path {
      fill: white;
    }
  }

  svg {

    width: 1.2em;
    margin-right: 0.8em;
  }

  svg>g>path {
    fill: black;
  }

  span {
    color: black;
    border-bottom: 2px solid black;
    cursor: pointer;
  }
}

span,
.short-wallet-address {
  //color: black;
  font-weight: 600 !important;
  font-size: 16px !important;
  font-family: 'Montserrat' !important;
  letter-spacing: 0 !important;
}

@media only screen and (max-width: $md) {
  section.release-bar {
    display: flex;
    margin-right: 0px;
    padding: 0px 6px;
    left: 0px;
    right: 0px;
    bottom: 40px;
    width: 100%;
    max-width: 100vw;
    border-bottom: 41px solid black;

    .inner {
      max-width: 330px;
      margin-top: auto;
      margin-bottom: auto !important;

      .content {
        padding-top: 0px;

        .release-container {
          padding-top: 50px;
        }
      }
    }
  }

  .close-button {
    max-width: 330px;

    img {
      display: none;
    }
  }

  .block p {
    font-size: 16px;
  }

  .li {
    min-height: auto;
  }

  .drop-content ul {
    max-width: 330px;
  }

  .selected {
    max-width: 330px;
  }

  .wallet-address {
    display: none;
  }
}
