<section class="release-bar">
  <div class="close-button">
    <p>Vesting</p>
    <img class="close" (click)="toggleReleaseView()" src="assets/media/icons/close.svg" alt="close">
  </div>
  <div class="inner balloon">
    <div class="content">
      <div id="token-dropdown" class="dropdown_c dropdown_click">
        <div class="selected" (click)="toggleDropdown()">
          <span>
            <img style="height: 20px; margin-right: 10px;" src="{{selectedItem.icon}}" alt="token-icon">
            {{selectedItem.symbol}}
          </span>
          <svg [ngClass]="{'dropup': isDropdownActive}" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 7" version="1.1" x="0px" y="0px">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <path
                d="M2.793125,9.207375 C2.402125,8.816375 2.402125,8.184375 2.793125,7.793375 L7.086125,3.500375 L2.793125,-0.792625 C2.402125,-1.183625 2.402125,-1.815625 2.793125,-2.206625 C3.184125,-2.597625 3.816125,-2.597625 4.207125,-2.206625 L9.207125,2.793375 C9.598125,3.184375 9.598125,3.816375 9.207125,4.207375 L4.207125,9.207375 C4.012125,9.402375 3.756125,9.500375 3.500125,9.500375 C3.244125,9.500375 2.988125,9.402375 2.793125,9.207375 Z"
                fill="#d5a642"
                transform="translate(6.000125, 3.500250) rotate(-270.000000) translate(-6.000125, -3.500250) "></path>
            </g>
          </svg>
        </div>
        <div class="drop-content">
          <ul [ngClass]="{'visible': isDropdownActive}">
            <li (click)="selectItem(item)" *ngFor="let item of items">
              <span>
                <img style="height: 20px; margin-right: 10px;" src="{{item.icon}}" alt="token-icon">
                {{item.symbol}}
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div id="token-dropdown" class="dropdown_c dropdown_click">
        <div *ngIf="vestingIds.length !== 0" class="selected" (click)="toggleScheduleNumbersDropdown()">
          <span>
            Vesting Number: {{selectedVestingId+1}}
          </span>
          <svg [ngClass]="{'dropup': isVestingNumberDropdownActive}" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 7" version="1.1" x="0px" y="0px">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <path
                d="M2.793125,9.207375 C2.402125,8.816375 2.402125,8.184375 2.793125,7.793375 L7.086125,3.500375 L2.793125,-0.792625 C2.402125,-1.183625 2.402125,-1.815625 2.793125,-2.206625 C3.184125,-2.597625 3.816125,-2.597625 4.207125,-2.206625 L9.207125,2.793375 C9.598125,3.184375 9.598125,3.816375 9.207125,4.207375 L4.207125,9.207375 C4.012125,9.402375 3.756125,9.500375 3.500125,9.500375 C3.244125,9.500375 2.988125,9.402375 2.793125,9.207375 Z"
                fill="#d5a642"
                transform="translate(6.000125, 3.500250) rotate(-270.000000) translate(-6.000125, -3.500250) "></path>
            </g>
          </svg>
        </div>
        <div class="drop-content">
          <ul [ngClass]="{'visible': isVestingNumberDropdownActive}">
            <li (click)="selectVestingIdItem(i)" *ngFor="let item of vestingIds; let i = index">
              <span>
                {{i+1}}
              </span>
            </li>
          </ul>
        </div>
      </div>

      <div class="release-container">
        <!-- <p>TOKEN VESTING</p> -->

        <p *ngIf="!hasVested" style="text-align: center;">You don't have a vesting<br>schedule with {{selectedItem.symbol}}</p>
        <p *ngIf="hasVested" class="releasable-amount flex">Start:
          <span style="margin-left: auto">{{startTime}}</span>
        </p>
        <p *ngIf="hasVested" class="releasable-amount flex">End:
          <span style="margin-left: auto">{{endTime}}</span>
        </p>
        <p *ngIf="hasVested" class="releasable-amount flex">Total:
          <span style="margin-left: auto">{{amount}}</span>
        </p>
        <p *ngIf="hasVested" class="releasable-amount flex">Releasable:
          <span style="margin-left: auto">{{releasableAmount}}
            {{selectedItem.symbol}}</span>
        </p>
        <a *ngIf="hasVested" class="outlined-button"
          (click)="isInReleasingProcess? null :  release()">{{isInReleasingProcess ? '' : 'Release'}}
          <img *ngIf="isInReleasingProcess" src="assets/media/videos/Loading_yellowBG.gif" class="loader-img">
        </a>
      </div>
    </div>
    <div *ngIf="isConnected" class="wallet-address">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Laag_1"
        x="0px" y="0px" viewBox="0 0 19.9 20" style="enable-background:new 0 0 19.9 20;" xml:space="preserve">
        <g>
          <path
            d="M3,0.1c-1.7,0-3,1.4-3,3V17c0,1.7,1.4,3,3,3h13.8c0.7,0,1.3-0.6,1.3-1.3v-3.5h1.7V9.7h-1.7V6.2c0-0.7-0.6-1.3-1.3-1.3h-2.1   V1.3c0-0.7-0.6-1.3-1.3-1.3H3V0.1z M16.8,18.7H3c-1,0-1.8-0.8-1.8-1.8V5.7l0.6,0.3c0.4,0.2,0.8,0.3,1.2,0.3h13.8v3.5h-3.2   c-1.5,0-2.7,1.2-2.7,2.7c0,1.5,1.2,2.7,2.7,2.7h3.2L16.8,18.7L16.8,18.7z M18.6,13.9h-4.9c-0.8,0-1.4-0.6-1.4-1.4   c0-0.8,0.6-1.4,1.4-1.4h4.9C18.6,11,18.6,13.9,18.6,13.9z M13.4,4.9H3c-1,0-1.8-0.8-1.8-1.8S2.1,1.4,3,1.4h10.4   C13.4,1.4,13.4,4.9,13.4,4.9z" />
        </g>
      </svg>
      <span [cdkCopyToClipboard]=address class="short-wallet-address">{{shortenedWalletAddress}}</span>
    </div>
  </div>
</section>
