@import "includes";

.img-small {
  width: 70px;
  height: 70px;
}

.connect_popup {
  background: #090d16;
  border-top: 6px solid #d5a642;
}

.border-thick:hover {
  border-bottom: 4px solid #d5a642;
}

.border-thick {
  cursor: pointer;
  border-bottom: 4px solid transparent;
}

.description {
  color: $primary;
}

.metamask,
.wallet {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: $md) {
  .flex-xs-col {
    flex-direction: column;
  }
}

::ng-deep.mat-dialog-container {
  box-shadow: none !important;
}
