<section class="landing flex">
    <div class="inner">
        <div class="left-corner"></div>
        <div class="right-corner"></div>
        <app-nav></app-nav>

        <app-intro></app-intro>

        <div class="inner flex-space-between align-start mt20 box">
            <div class="stats flex1"></div>
            <div class="info flex4">
                <div class="shape text-center bottom flex ph50">

                    <div class="flex1 no-padding">
                        <p class="p-white-span-primary"><span class="p12">REDEEMED MOONSHOT

                            </span></p>
                        <p class="p-white-span-primary"><span><strong>15442
                                </strong></span></p>
                    </div>
                    <div class="flex1 no-padding down_box">
                        <p class="p12 mt-15">
                            <span>BALANCE MOONSHOT</span>
                        </p>
                        <p><strong>240960
                            </strong></p>
                    </div>
                    <div class="flex1 no-padding">
                        <p class="p12 p-white-span-primary"><span>NFT TOTAL
                            </span></p>
                        <p class="p-white-span-primary"><span><strong>22
                                </strong></span></p>
                    </div>
                </div>
            </div>
            <div class="stats flex1"></div>
        </div>
    </div>
    <app-sidebar></app-sidebar>
</section>