@import "includes";

.landing.flex {
    width: calc(100vw - 4rem);
    z-index: 2;
    position: relative;
    background: $primary;
    height: $full;
}
.inner {
    margin: 0 3rem 3rem;
    background: #0f0f0f;
    width: 100%;
}
.left-corner {
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    position: absolute;
    bottom: 47px;
    width: 50px;
    height: 50px;
    background: #d5a642;
    border: none;
    left: 47px;
}
.right-corner {
    clip-path: polygon(100% 100%, 0 100%, 100% 0);
    position: absolute;
    bottom: 47px;
    width: 50px;
    height: 50px;
    background: #d5a642;
    border: none;
    right: 47px;
}

.text-inherit {
    text-transform: inherit;
}

.shape {
   background-color: #d7b13e;
   position: relative;
   width: 100%;
   height: -webkit-fill-available;
   -webkit-clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%, 0 100%);
   clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%, 0 100%);
   align-items: center;
}
.shape::before {
   content: '';
   width: 100%;
   height: inherit;
   -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
   clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
   background: #0f0f0f;
   display: block;
   position: absolute;
   top: 1px;
   z-index: -1;
   left: 1px;
}

.h-100 {
   height: 100%;
}
.pt-5 {
   padding-top: 3rem;
}
.normal_text {
   line-height: 22px;
   font-weight: normal;
}
.box {
    margin-top: 2px;
    position: absolute;
    bottom: 0px;
    width: calc(100vw - 16rem);
    left: 3rem;
}
.down_box {
   border-bottom: 61px solid #d5a642;
   border-left: 60px solid transparent;
   border-right: 60px solid transparent;
   height: 0;color:black
}
.mt-15 {
   margin-top: 15px;
}
.d_flex_content_between {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.prize_pool {
   display: flex;
   flex-direction: column;
   align-items: baseline;
   justify-content: space-between;
   flex: 1;
}
.pt-0 {
    padding-top: 0;
}
.img-fluid {
   max-width: 100%;
   height: auto;
}
.relative {
   position: relative;
}
.mb0 {
   margin-bottom: 0 !important;
}