@import "includes";

section.moontv {
  // height: 100vh;
  background: url("/assets/media/images/galaxy02_homepage.png") no-repeat left;
  > .inner {
    @extend %max-width-center;
    margin-bottom: 250px;
  }
}

.stats {
  min-width: 300px;
  margin-right: 150px;

  div > p {
    font-size: 30px;
    font-weight: bold;

    &:first-child {
      color: $primary;
      margin-bottom: 50px;
      font-size: 12px;
      font-weight: normal;
    }
  }
  .desc > p {
    font-size: 12px;
    font-weight: normal;
  }
  .more {
    width: 80%;
    text-align: center;
    padding-top: 20px;
  }
}

.buy-info {
  margin-top: -100px;
  .futuristic-container {
    border-top: 1px solid $primary;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 0;

    p {
      width: 80%;
    }

    .video {
      width: 45%;
      padding: 10px;
      min-width: 300px;
    }
  }
}

.explanation {
  line-height: 30px;
  font-weight: 200;
}
