<section class="moontv">
    <div class="inner">
        <div class="main flex-space-between align-start">
            <div class="stats flex1">
                <div class="timer futuristic-container">
                    <p>MOONTV</p>
                    <p class="color-white orbitron">See what’s on MoonTV</p>
                </div>
                <div class="desc futuristic-container bottom-only">
                    <p>See what others have to say about Moonshot.</p>
                </div>
                <div class="more buttons-container">
                    <a href="https://www.youtube.com/hashtag/moonshot" target="_blank" class="button">More MoonTV</a>
                </div>
            </div>
            <div class="buy-info flex3">
                 <div class="futuristic-container flex">
                    <div class="video" *ngFor="let item of videoSrcList">
                        <!-- <a class="playbtn outlined-button mb10">PLAY</a> -->
                        <iframe width="300" height="228" [src]="item.src">
                        </iframe>
                    </div>
                 </div>
                 <div class="more mobile-only buttons-container">
                    <a href="https://www.youtube.com/hashtag/moonshot" target="_blank" class="button">More MoonTV</a>
                </div>
            </div>
         </div>
    </div>
</section>